extends layout
include ./conversation_mixin
include ./register_mixins

block styles
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/index.css')
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/app.css')
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/spinner.css')
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/conversation.css')

block scripts
  if WITH_THINGPEDIA === 'embedded'
    script(src=Config.ASSET_CDN + '/javascripts/commandpedia-bundle.js')
  script(src=Config.ASSET_CDN + '/javascripts/index.js')
  if authenticated || ENABLE_ANONYMOUS_USER
    script(src=Config.ASSET_CDN + '/javascripts/conversation-bundle.js')
  if !authenticated && ENABLE_ANONYMOUS_USER
    script(src=Config.ASSET_CDN + '/javascripts/register.js')

block content
  if authenticated
    div#cloud-id-holder(data-cloud-id=user.cloud_id, data-auth-token=user.auth_token)
  else if ENABLE_ANONYMOUS_USER
    div.modal.fade#try-almond-registration(role='dialog')
      div.modal-dialog(role='document')
        div.modal-content
          div.modal-header
            a.close(data-dismiss='modal', aria-label="Close")
              span(aria-hidden='true') ×
            h4.modal-title= _("Register for Genie")
          div.modal-body
            +registration_form(false)

  div#page-body
    section.divider#section-heading
      div.container
        div.index_row
          div.index_cl_sx
            #genie-covid-title
              | Find a vaccine appointment near you.
            
            p.index_sx_p
              | Click for Spanish.
               
          div.index_cl_dx
            p.index_dx_p
              | COVID Genie is a Stanford University effort to help get people vaccinated nationwide.
            p.index_dx_p
              | Chat with Genie to find a COVID-19 vaccine appointment near you, or get notified when appointments become available.
              div.index_btn
                button.btn.btn-primary.btn-block.call-to-action#try-almond-now= _("Get Your Vaccine Now")

        if authenticated
          div.row
            div.col-lg-6.col-lg-offset-3
              +conversation_mixin('/me/ws/conversation')(class='')
        else if ENABLE_ANONYMOUS_USER
          div.row#try-almond-now-row
 
          div.row.hidden#try-almond-now-consent-form
            div.col-lg-6.col-lg-offset-3
              div#try-almond-now-consent-form-inner
                +consent_form

                div.text-center
                  button.btn.btn-primary.call-to-action#try-almond-now-agree-consent= _("I agree")

          div.row.hidden#try-almond-now-conversation
            div.col-lg-6.col-lg-offset-3
              +conversation_mixin('/me/ws/anonymous?locale=' + locale)(class='')

        else
          div.row
            div.col-lg-4.col-lg-offset-4
              a(href='/user/register').btn.btn-primary.btn-block.call-to-action= _("Get Your Vaccine Now")

    div.sections
      if WITH_THINGPEDIA === 'embedded'
        section.divider#section-commandpedia
          h3= _("Popular Commands")
          div.container
            include ./commandpedia.pug

        section.divider
          h3= _("Still Not Seeing What You Want?")
          div.container
            div.row
              div.col-sm-6.col-md-4.col-md-offset-4.col-sm-offset-3
                a(href='/thingpedia').btn.btn-primary.btn-block= _("Explore Thingpedia")
