extends layout
block styles
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/index.css')
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/app.css')
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/all.css')

block scripts
  script(src=Config.ASSET_CDN + '/javascripts/commandpedia-bundle.js')
  script(src=Config.ASSET_CDN + '/javascripts/index.js')

block page_name
  - stdlayout = false;
  = _("Almond")

block content
  if authenticated
    div#cloud-id-holder(data-cloud-id=user.cloud_id, data-auth-token=user.auth_token)

  div#page-body
    section.divider#section-heading
      h1 Almond
      h2 The Open Virtual Assistant

    div.sections

      if WITH_THINGPEDIA === 'embedded'
        section.divider#section-commandpedia
          h3= _("Popular Commands")
          div.container
            include ./commandpedia.pug

        section.divider
          h3= _("Still Not Seeing What You Want?")
          div.container
            div.row
              div.col-sm-6.col-md-4.col-md-offset-4.col-sm-offset-3
                a(href='/thingpedia').btn.btn-primary.btn-block= _("Explore Thingpedia")