extends layout
block styles
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/index.css')
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/app.css')
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/spinner.css')
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/conversation.css')

block scripts
  script(src=Config.ASSET_CDN + '/javascripts/commandpedia-bundle.js')
  script(src=Config.ASSET_CDN + '/javascripts/index.js')
  if ENABLE_ANONYMOUS_USER && !authenticated
    script(src=Config.ASSET_CDN + '/javascripts/conversation-bundle.js')

block page_name
  - stdlayout = false;
  = _("Genie")

block content
  if authenticated
    div#cloud-id-holder(data-cloud-id=user.cloud_id, data-auth-token=user.auth_token)

  div#page-body
    section.divider#section-heading
      h1#almond-title= _("Genie")
      h2#almond-subtitle= _("The Open Virtual Assistant")

      div.container
        if authenticated
          div.row
            div.col-lg-4.col-lg-offset-4
              a(href='/me').btn.btn-primary.btn-block.call-to-action= _("Go To My Genie")
        else if !ENABLE_ANONYMOUS_USER
          div.row
            div.col-lg-4.col-lg-offset-4
              a(href='/user/register').btn.btn-primary.btn-block.call-to-action= _("Try Genie Now")
        else
          div.row#try-almond-now-row
            div.col-lg-4.col-lg-offset-4
              a#try-almond-now(href='#conversation').btn.btn-primary.btn-block.call-to-action= _("Try Genie Now")

          div.row
            div.col-lg-4.col-lg-offset-4
              div#conversation.single(data-target='/me/ws/anonymous',aria-expanded='false')
                div#chat
                div#input-block
                  form(action='#')#input-form
                    div.form-group.has-feedback#input-form-group
                      label(for='#chat-input').sr-only= _("Command:")
                      input(type='text', placeholder=_("Write your command or answer here"), value=command ? command : '').form-control#input
                      button(type='button', title=_("Click to send a voice command")).btn.btn-primary#record-button
                      span#form-icon.glyphicon.glyphicon-warning-sign.form-control-feedback.hidden
                      span(role='button').hidden#cancel
                        span(aria-hidden='true').glyphicon.glyphicon-remove-circle.form-control-feedback

              div#hidden-container
                div.help-block.hidden= _("Lost connection to the server.")
                div.almond-thinking.hidden
                  span
                  span
                  span

    div.sections
      if WITH_THINGPEDIA === 'embedded'
        section.divider#section-commandpedia
          h3= _("Popular Commands")
          div.container
            include ./commandpedia.pug

        section.divider
          h3= _("Still Not Seeing What You Want?")
          div.container
            div.row
              div.col-sm-6.col-md-4.col-md-offset-4.col-sm-offset-3
                a(href='/thingpedia').btn.btn-primary.btn-block= _("Explore Thingpedia")
