extends layout

block page_name
  = _("About")

block content
  div#about-body.single-page-container
    p= _("The COVID Genie is part of the Open Virtual Assistant Initiative led by the Open Virtual Assistant Lab (OVAL) at Stanford University. The COVID genie aims to help the American public get  vaccinated against COVID-19. It is designed to ensure equitable access of COVID-19 vaccines for all Americans, including communities of color who have been disproportionately affected by COVID-19. ")
    p= _("We thank our collaborators who have graciously volunteered time, effort, and expertise to this project: Mukesh Aggarwal, Nick Muerdter (VaccineSpotter.org), and Leah Russin. ") 
    h3= _("About the OVAL Lab at Stanford University ")
    p= _("The OVAL lab is a research laboratory in the Computer Science Department whose goal is to: ")
    p= _("1. Create virtual assistants that provide open, equitable access to all, while protecting their privacy, and ")
    p= _("2. create affordable, open-source virtual assistant technology. Learn more at oval.cs.stanford.edu. We are supported in part by National Science Foundation and the Alfred P. Sloan Foundation. ")