extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/thingpedia.css')

block page_name
  - stdlayout = false;
  = _("Administration")

block content
  div#page-body
    h1.hidden-xs.hidden-sm#page-title.dev-portal-title
      = _("Administration")

    if currentTrainingJob
      div.container
        div.row
          div.col-xs-12
            div.alert.alert-info(role='alert')
              if currentTrainingJob.eta
                p= _("Current Training Job: %s (%.0f%%). Started at %s for %s. ETA: %s").format(currentTrainingJob.status,currentTrainingJob.progress*100,(new Date(currentTrainingJob.startTime)).toLocaleString(user.locale, { timeZone: user.timezone }), currentTrainingJob.forDevices.join(', '), (new Date(currentTrainingJob.eta)).toLocaleString(user.locale, { timeZone: user.timezone }))
              else
                p= _("Current Training Job: %s (%.0f%%). Started at %s for %s.").format(currentTrainingJob.status, currentTrainingJob.progress*100, (new Date(currentTrainingJob.startTime)).toLocaleString(user.locale, { timeZone: user.timezone }), currentTrainingJob.forDevices.join(', '))

    div.sections
      section.divider
        div.container
          div.row
            div.col-xs-12
              ul
                if user.roles & 0x1
                  li
                    a(href='/admin/users') Users
                  li
                    a(href='/admin/organizations') Developer Organizations
                if WITH_THINGPEDIA === 'embedded'
                  li
                    a(href='/admin/review-queue') Unreviewed Devices
                  li
                    a(href='/thingpedia/classes') Thingpedia Types
                  li
                    a(href='/thingpedia/entities') Thingpedia Entities
                  li
                    a(href='/thingpedia/snapshots') Thingpedia Snapshots
                  li
                    a(href='/thingpedia/datasets') Thingpedia Datasets
                if user.roles & 0x1 && WITH_THINGPEDIA === 'embedded'
                  li
                    a(href='/mturk') MTurk Batches

      section.divider
        div.container
          div.row
            if user.roles & 0x1
              div.col-md-2
                form(action='/admin/users/kill/all', method='post')
                  input(type='hidden',name='_csrf',value=csrfToken)
                  button(type='submit').btn.btn-danger.btn-block= _("Kill all users")

              div.col-md-2
                form(action='/admin/blow-view-cache', method='post')
                  input(type='hidden',name='_csrf',value=csrfToken)
                  button(type='submit').btn.btn-default.btn-block= _("Clear view cache")

            div.col-md-3
              form(action='/admin/start-training', method='post')
                input(type='hidden',name='_csrf',value=csrfToken)
                button(type='submit').btn.btn-default.btn-block= _("Start a new training job")
