extends layout

block page_name
  = _("Almond User List")

block styles
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/admin.css')

block scripts
  script(src=Config.ASSET_CDN + '/javascripts/admin.js')

block content
  div.navbar.navbar-default#user-search-navbar
    form.navbar-form.navbar-left(action='/admin/users/search',method='get')
      div.form-group
        input.form-control#user-search-box(type='text', name='q', value=search)
        button.btn.btn-primary(type="submit")= _("Search")

  nav
    ul.pager
      if page_num > 0
        li
          a(href='/admin/users?page=' + (page_num-1))= _("Previous")
      if users.length > USERS_PER_PAGE
        li
          a(href='/admin/users?page=' + (page_num+1))= _("Next")

  table.table#users-table
    thead
      tr
        th #
        th= _("User name")
        th= _("Human name")
        th= _("Login methods")
        th= _("Locale")
        th= _("Timezone")
        th= _("Roles")
        th= _("Engine?")
        th(colspan=2)= _("Actions")
    tbody
      each user in users.slice(0,USERS_PER_PAGE)
        tr
          td
            span(title=user.cloud_id)= user.id
          td
            a(href='mailto:' + user.email)= user.username
          td= user.human_name
          td
            - var methods = [];
            - if (user.password !== null)
              - methods.push("Password");
            - if (user.facebook_id !== null)
              - methods.push("Facebook");
            - if (user.google_id !== null)
              - methods.push("Google")
            | #{methods.join(', ')}
          td= user.locale
          td= user.timezone
          td
            if user.roles !== 0
              - let roles = []
              if user.roles & Constants.Role.ADMIN
                - roles.push(_("Site Admin"))
              if user.roles & Constants.Role.BLOG_EDITOR
                - roles.push(_("Blog Editor"))
              span(title=user.developer_key)
                a(href='/admin/organizations/details/' + user.developer_org)= roles.join(', ')
            else if user.developer_status >= 3
              span(title=user.developer_key)
                a(href='/admin/organizations/details/' + user.developer_org)= _("Admin")
            else if user.developer_status >= 2
              span(title=user.developer_key)
                a(href='/admin/organizations/details/' + user.developer_org)= _("Trusted Dev")
            else if user.developer_status >= 1
              span(title=user.developer_key)
                a(href='/admin/organizations/details/' + user.developer_org)= _("Developer")
            else if user.developer_org !== null
              span(title=user.developer_key)
                a(href='/admin/organizations/details/' + user.developer_org)= _("Tester")
            else
              span(title=user.developer_key)= _("User")
          td
            if user.isRunning
              span(title=user.engineId)= _("Running")
            else
              = _("Dead")
          td.dropdown
            button(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false', id='button-actions-' + user.id).btn.btn-default
              = _("Actions")
              span.caret

            ul.dropdown-menu(aria-labelledby='button-actions-' + user.id).actions-dropdown
              li
                if user.isRunning
                  form(action='/admin/users/kill/' + user.id, method='post')
                    input(type='hidden',name='_csrf',value=csrfToken)
                    button(type='submit').btn.btn-danger.form-control= _("Kill user")
                else
                  form(action='/admin/users/start/' + user.id, method='post')
                    input(type='hidden',name='_csrf',value=csrfToken)
                    button(type='submit').btn.btn-success.form-control= _("Start user")
              li
                if user.developer_status < 3
                  form(action='/admin/users/promote/' + user.id, method='post')
                    input(type='hidden',name='_csrf',value=csrfToken)
                    button(type='submit').btn.btn-success.form-control= _("Promote user")
                if user.developer_status > 0
                  form(action='/admin/users/demote/' + user.id, method='post')
                    input(type='hidden',name='_csrf',value=csrfToken)
                    button(type='submit').btn.btn-success.form-control= _("Demote user")
                if user.developer_org
                  form(action='/admin/users/revoke-developer/' + user.id, method='post')
                    input(type='hidden',name='_csrf',value=csrfToken)
                    button(type='submit').btn.btn-success.form-control= _("Revoke developer key")
              li
                form(action='/admin/users/delete/' + user.id, method='post').form-delete-user
                  input(type='hidden',name='_csrf',value=csrfToken)
                  button(type='submit').btn.btn-danger.form-control= _("Delete user")

  nav
    ul.pager
      if page_num > 0
        li
          a(href='/admin/users?page=' + (page_num-1))= _("Previous")
      if users.length > USERS_PER_PAGE
        li
          a(href='/admin/users?page=' + (page_num+1))= _("Next")
