extends layout

block page_name
  = _("Thingpedia Developer Organizations")

block styles
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/admin.css')

block content
  if page_num >= 0
    nav
      ul.pager
        if page_num > 0
          li
            a(href='/admin/organizations?page=' + (page_num-1))= _("Previous")
        | &nbsp;
        if organizations.length > 20
          li
            a(href='/admin/organizations?page=' + (page_num+1))= _("Next")

  div.navbar.navbar-default#user-search-navbar
    form.navbar-form.navbar-left(action='/admin/organizations/search',method='get')
      div.form-group
        input.form-control#user-search-box(type='text', name='q', value=search)
        button.btn.btn-primary(type="submit")= _("Search")

  table.table#users-table
    thead
      tr
        th #
        th= _("Name")
        th= _("Developer Key")
    tbody
      each org in organizations.slice(0, 20)
        tr
          td
            a(href='/admin/organizations/details/' + org.id)= org.id
          td= org.name
          td= org.developer_key

  if page_num >= 0
    nav
      ul.pager
        if page_num > 0
          li
            a(href='/admin/organizations?page=' + (page_num-1))= _("Previous")
        | &nbsp;
        if organizations.length > 20
          li
            a(href='/admin/organizations?page=' + (page_num+1))= _("Next")
