extends layout

block page_name
  = _("Almond User List")

block styles
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/admin.css')

block scripts
  script(src=Config.ASSET_CDN + '/javascripts/admin.js')

block content
  div.navbar.navbar-default#user-search-navbar
    form.navbar-form.navbar-left(action='/admin/users/search',method='get')
      div.form-group
        input.form-control#user-search-box(type='text', name='q', value=search)
        button.btn.btn-primary(type="submit")= _("Search")

  nav
    ul.pager
      if page_num > 0
        li
          a(href='/admin/users?page=' + (page_num-1) + '&sort=' + sort)= _("Previous")
      if users.length > USERS_PER_PAGE
        li
          a(href='/admin/users?page=' + (page_num+1) + '&sort=' + sort)= _("Next")

  table.table#users-table
    thead
      tr
        th
          | #
          |
          |
          if page_num !== undefined
            if sort === 'id/asc'
              a(href='/admin/users?page=' + page_num + '&sort=id/desc', title=_("Sort by ID (decreasing)"))
                span.glyphicon.glyphicon-chevron-up
            else
              a(href='/admin/users?page=' + page_num + '&sort=id/asc', title=_("Sort by ID (increasing)"))
                span.glyphicon.glyphicon-chevron-down
        th
          = _("User name")
          |
          |
          if page_num !== undefined
            if sort === 'username/asc'
              a(href='/admin/users?page=' + page_num + '&sort=username/desc', title=_("Sort by user name (decreasing)"))
                span.glyphicon.glyphicon-chevron-up
            else
              a(href='/admin/users?page=' + page_num + '&sort=username/asc', title=_("Sort by user name (increasing)"))
                span.glyphicon.glyphicon-chevron-down
        th
          = _("Human name")
          |
          |
          if page_num !== undefined
            if sort === 'human_name/asc'
              a(href='/admin/users?page=' + page_num + '&sort=human_name/desc', title=_("Sort by human name (decreasing)"))
                span.glyphicon.glyphicon-chevron-up
            else
              a(href='/admin/users?page=' + page_num + '&sort=human_name/asc', title=_("Sort by human name (increasing)"))
                span.glyphicon.glyphicon-chevron-down
        th= _("Locale")
        th= _("Timezone")
        th
          = _("Registered")
          |
          |
          if page_num !== undefined
            if sort === 'registration_time/asc'
              a(href='/admin/users?page=' + page_num + '&sort=registration_time/desc', title=_("Sort by registration time (newest first)"))
                span.glyphicon.glyphicon-chevron-up
            else
              a(href='/admin/users?page=' + page_num + '&sort=registration_time/asc', title=_("Sort by registration time (oldest first)"))
                span.glyphicon.glyphicon-chevron-down
        th
          = _("Last login")
          |
          |
          if page_num !== undefined
            if sort === 'lastlog_time/asc'
              a(href='/admin/users?page=' + page_num + '&sort=lastlog_time/desc', title=_("Sort by last login time (newest first)"))
                span.glyphicon.glyphicon-chevron-up
            else
              a(href='/admin/users?page=' + page_num + '&sort=lastlog_time/asc', title=_("Sort by last login time (oldest first)"))
                span.glyphicon.glyphicon-chevron-down
        th= _("Roles")
        th= _("Engine?")
        th(colspan=2)= _("Actions")
    tbody
      - var self = user;
      each user in users.slice(0,USERS_PER_PAGE)
        tr
          td
            span(title=user.cloud_id)= user.id
          td
            a(href='mailto:' + user.email)= user.username
          td= user.human_name
          td= user.locale
          td= user.timezone
          td= user.registration_time.toLocaleString(self.locale, { timeZone: self.timezone, year: 'numeric', month: 'numeric', day: 'numeric' })
          td= user.lastlog_time.toLocaleString(self.locale, { timeZone: self.timezone })
          td
            if user.roles !== 0
              span(title=user.developer_key)
                a(href='/admin/organizations/details/' + user.developer_org)
                  if user.roles & Constants.Role.ADMIN
                    = _("Site Admin")
                    br
                  if user.roles & Constants.Role.BLOG_EDITOR
                    = _("Blog Editor")
                    br
                  if user.roles & Constants.Role.THINGPEDIA_ADMIN
                    = _("Thingpedia Admin")
                    br
                  if user.roles & Constants.Role.TRUSTED_DEVELOPER
                    = _("Trusted Developer")
                    br
                  if user.roles & Constants.Role.DISCOURSE_ADMIN
                    = _("Discourse Admin")
                    br
                  if user.roles & Constants.Role.NLP_ADMIN
                    = _("NLP Admin")
                    br
            else if user.developer_status >= Constants.DeveloperStatus.DEVELOPER
              span(title=user.developer_key)
                a(href='/admin/organizations/details/' + user.developer_org)= _("Developer")
            else if user.developer_org !== null
              span(title=user.developer_key)
                a(href='/admin/organizations/details/' + user.developer_org)= _("Tester")
            else
              span(title=user.developer_key)= _("User")
          td
            if user.isRunning
              span(title=user.engineId)= _("Running")
            else
              = _("Dead")
          td.dropdown
            button(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false', id='button-actions-' + user.id).btn.btn-default
              = _("Actions")
              span.caret

            ul.dropdown-menu(aria-labelledby='button-actions-' + user.id).actions-dropdown
              li
                if user.isRunning
                  form(action='/admin/users/kill/' + user.id, method='post')
                    input(type='hidden',name='_csrf',value=csrfToken)
                    button(type='submit').btn.btn-danger.form-control= _("Kill user")
                else
                  form(action='/admin/users/start/' + user.id, method='post')
                    input(type='hidden',name='_csrf',value=csrfToken)
                    button(type='submit').btn.btn-success.form-control= _("Start user")
              li
                if user.developer_status < Constants.DeveloperStatus.ORG_ADMIN
                  form(action='/admin/users/promote/' + user.id, method='post')
                    input(type='hidden',name='_csrf',value=csrfToken)
                    button(type='submit').btn.btn-success.form-control= _("Promote user")
                if user.developer_status > Constants.DeveloperStatus.USER
                  form(action='/admin/users/demote/' + user.id, method='post')
                    input(type='hidden',name='_csrf',value=csrfToken)
                    button(type='submit').btn.btn-success.form-control= _("Demote user")
                if user.developer_org
                  form(action='/admin/users/revoke-developer/' + user.id, method='post')
                    input(type='hidden',name='_csrf',value=csrfToken)
                    button(type='submit').btn.btn-success.form-control= _("Revoke developer key")
              li
                form(action='/admin/users/delete/' + user.id, method='post').form-delete-user
                  input(type='hidden',name='_csrf',value=csrfToken)
                  button(type='submit').btn.btn-danger.form-control= _("Delete user")

  nav
    ul.pager
      if page_num > 0
        li
          a(href='/admin/users?page=' + (page_num-1) + '&sort=' + sort)= _("Previous")
      if users.length > USERS_PER_PAGE
        li
          a(href='/admin/users?page=' + (page_num+1) + '&sort=' + sort)= _("Next")
