extends layout

block styles
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/thingpedia.css')

block page_name
  - stdlayout = false;
  = _("Administration")

block content
  div#page-body
    h1.hidden-xs.hidden-sm#page-title.dev-portal-title
      = _("Administration")

    div.sections
      section.divider
        div.container
          div.row
            div.col-xs-12
              ul
                if user.roles & Constants.Role.ADMIN
                  li
                    a(href='/admin/users')= _("Users")
                if user.roles & Constants.Role.THINGPEDIA_ADMIN
                  li
                    a(href='/admin/organizations')= _("Developer Organizations")
                if user.roles & Constants.Role.BLOG_EDITOR
                  li
                    a(href='/admin/blog')= _("Blog Archive")
                if WITH_THINGPEDIA === 'embedded'
                  if user.roles & Constants.Role.NLP_ADMIN
                    li
                      a(href='/admin/training')= _("Natural Language Training")
                  if user.roles & Constants.Role.THINGPEDIA_ADMIN
                    li
                      a(href='/admin/review-queue')= _("Unreviewed Devices")
                    li
                      a(href='/thingpedia/entities')= _("Thingpedia Entities")
                    li
                      a(href='/thingpedia/strings')= _("Thingpedia String Datasets")
                    li
                      a(href='/thingpedia/snapshots')= _("Thingpedia Snapshots")
                  if user.roles & Constants.Role.NLP_ADMIN
                    li
                      a(href='/thingpedia/datasets')= _("Thingpedia Datasets")
                    li
                      a(href='/mturk')= _("MTurk Batches")

      section.divider
        div.container
          div.row
            if user.roles & Constants.Role.ADMIN
              div.col-md-2
                form(action='/admin/users/kill/all', method='post')
                  input(type='hidden',name='_csrf',value=csrfToken)
                  button(type='submit').btn.btn-danger.btn-block= _("Kill all users")
