extends layout
block styles
  link(rel='stylesheet', href='/stylesheets/index.css')
  link(rel='stylesheet', href='/stylesheets/app.css')
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/all.css')

block scripts
  script(src='/javascripts/app.js')
  script(src='/javascripts/index.js')

block page_name
  - stdlayout = false;
  = _("Almond")

block content
  if authenticated
    div#cloud-id-holder(data-cloud-id=user.cloud_id, data-auth-token=user.auth_token)

  div#page-body
    section.divider#section-heading
      h1#almond-title Almond
      h2#almond-subtitle The Stanford Open Virtual Assistant Project

      div.container
        div.row
          div.col-xs-12.col-md-6.col-md-offset-3
            p
              | Almond lets you interact with your services and accounts in natural language with unprecedented expressivity.
              | All the code is open-source and can be run on personal phones or home servers to preserve privacy.

        div.row#subscribe
          div.col-xs-12.col-md-6.col-md-offset-3
            a(href='/get-almond').scroller.btn.btn-primary= _("Get Almond")
            |  
            a(href='/research').scroller.btn.btn-primary= _("Learn More")
          div.col-xs-12.col-md-6.col-md-offset-3
            input(type='email', placeholder='Your Email').form-control#subscribe-email
            button.btn.btn-primary(csrf=csrfToken)#subscribe-start= _("Interested and would like to contribute? Sign up to stay tuned!")
            button.btn.btn-primary(csrf=csrfToken)#subscribe-submit= _("Subscribe")
            p#subscribe-hint(hidden=true)= _("Please enter a valid email address.")
            p#subscribe-done(hidden=true)= _("Subscribed. Thank you!")

    div.sections
      section.divider
        h3= _("60+ Devices, 200+ Functions, and Growing")
        div.container
          div.row
            div.col-md-4.col-xs-12
              p
                | Almond draws its power from the crowdsourced <a href='/thingpedia'>Thingpedia</a>, an open collection of Web and Internet
                |  of Things APIs.
                |  Anyone can contribute support for the favorite service, with a few lines of code and a handful of natural language sentences.
              p
                | Thingpedia supports more than 60 different services, accounts and IoT devices, and more than 200 functions.
                | All the functions can then be combined to form exponentially more compound commands.
                a(href='#section-commandpedia')= _(" (Examples) ")
              p
                | Almond is free and open-source software, and is available on <a href='https://github.com/Stanford-Mobisocial-IoT-Lab'>Github</a>.
                | You can download, distribute or modify Almond as you see fit.
            div.col-md-8.col-xs-12.image-wrap
              a(href='/thingpedia/cheatsheet')
                img(src='/images/cheatsheet.png', alt='Thingpedia Cheatsheet')#cheatsheet-screenshot
                p.hover-text= _('Click to see more')

      section.divider#section-commandpedia
        h3= _("Popular Commands")
        div.container#commandpedia(csrf=csrfToken)
          div.navbar.navbar-default#command-list-navbar
            form.navbar-form.navbar-left(action='', method='get')
              div.form-group
                input.form-control#command-search-box(type='text', name='q', placeholder="I want to find a command...")
                button.btn.btn-primary#command-search-button(type="submit")= _("Search")
              div.form-group
                button.btn.btn-primary#command-reset-button= _("Reset")
          div.row#command-container
          div.row
            div.col-xs-12
              nav
                ul.pager
                  li#commands-page-prev
                    a(href='#')= _("Previous")
                  | &nbsp;
                  li#commands-page-next
                    a(href='#')= _("Next")
          br
          div.row
            div.col-sm-6.col-md-4.col-md-offset-2
              a(href='/commands/add').btn.btn-primary.btn-block= _("Add a New Command")
            div.col-sm-6.col-md-4
              a(href='/commands/suggest').btn.btn-default.btn-block= _("Suggest a New Command")





      section.divider
        h3= _("Still Don't See What You Want? ")
        div.container
          div.row
            div.col-sm-6.col-md-4.col-md-offset-4.col-sm-offset-3
              a(href='/thingpedia/upload/create').btn.btn-primary.btn-block= _("Create a New Device")
