extends layout

block page_name
  | Enable App

block content
  div.well#app-install-well
    h3 #{name}
    p#app-install-description= description

    div.row
      div.col-sm-2
        a(aria-controls='code-block', data-toggle='collapse', data-target='#code-block').btn.btn-default.btn-sm.btn-block Show/hide code
    pre.collapse#code-block= code

  form(action='/apps/create?shared=1', method='post', data-toggle='validator').form-horizontal#app-install-form

    input(type='hidden',name='_csrf',value=csrfToken)
    input(type='hidden',name='code',value=code)
    input(type='hidden',name='params',value=state)
    input(type='hidden',name='name',value=name)
    input(type='hidden',name='description',value=description)
    input(type='hidden',name='appId',value=appId)

    div.form-group
      div.col-xs-12
        button(type='submit').btn.btn-success Enable
