extends layout
block styles
  link(rel='stylesheet', href='/stylesheets/app.css')
block scripts
  script(src='/javascripts/new-command-bundle.js')

block page_name
  | Add a New Command

block content
  form#form-new-command
    input(type='hidden', name='_csrf', value=csrfToken)

    div.form-group
      label(for='input-command-utterance').control-label= _("Command")
      textarea.form-control#input-command-utterance(name="description", required=true, placeholder=_("What does the command accomplish?"))
    div#results-container.hidden
      p= _("Do you mean:")
      ul#results
    div.form-group#thingtalk-group
      label(for='input-command-thingtalk').control-label= _("ThingTalk Code")
      a('href'='/doc/thingtalk-intro.md')= _(" (How to write ThingTalk?)")
      textarea.form-control#input-command-thingtalk(name="code", required=true, placeholder=_("Code Here..."))
      span.help-block#thingtalk-error

    div.form-group
      label(for='input-command-confirmation').control-label= _("What the command does:")
      textarea.form-control#input-command-confirmation(name="code", readonly=true)
    br
    div.row
      div.col-sm-6.col-md-4.col-md-offset-4.col-sm-offset-3
        button(type='submit').form-control.btn.btn-primary.btn-block= _("Add")
    br