extends layout

block styles
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/codemirror.css')
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/blog-editor.css')

block scripts
  script(src=Config.ASSET_CDN + '/javascripts/blog-editor-bundle.js')

block page_name
  = _("Almond Blog Editor")

block content
  for message in messages
    div.alert.alert-success.alert-dismissible.fade.in(role='alert')
      button(type='button', data-dismiss='alert', aria-label="Close").close
        span(aria-hidden='true') ×
      p= message

  form(action=create ? '/admin/blog/create' : '/admin/blog/update', method='post', data-toggle='validator')
    if !create
      input(type='hidden',name='id',value=post.id)
    input(type='hidden',name='_csrf',value=csrfToken)
    div.form-group
      label.control-label(for='blog-title')= _("Title")
      input(type='text',name='title',required=true, value=post.title).form-control#blog-title
    div.form-group
      label.control-label(for='blog-image')= _("Image")
      input(type='url',name='image',required=true, value=post.image).form-control#blog-image
    div.form-group
      label.control-label(for='blog-blurb')= _("Blurb")
      textarea(name='blurb',required=true).form-control#blog-blurb= post.blurb
      span.help-block= _("A short text that will be shown in the front page and archive.")

    div.form-group
      label.control-label(for='blog-source')= _("Body")
      textarea(name='source',required=true).form-control#blog-source= post.source

    div.form-group
      button(type='button').btn.btn-default#blog-preview-button= _("Preview")
      |
      |
      button(type='submit').btn.btn-success= _("Save")
      |
      |
      button(type='button')#blog-upload-file-button.btn.btn-default= _("Upload a picture")

  div.modal.fade#blog-preview(role='dialog')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header.text-center
          a.close(data-dismiss='modal', aria-label="Close")
            span(aria-hidden='true') ×

          h4.modal-title#blog-preview-title
        div.modal-body#blog-preview-body

  div.modal.fade#blog-upload-file(role='dialog')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header.text-center
          a.close(data-dismiss='modal', aria-label="Close")
            span(aria-hidden='true') ×

          h4.modal-title= _("Upload a picture")
        div#blog-upload-file-before-upload
          form(action='/admin/blog/upload',enctype='multipart/form-data',method='post',data-toggle='validator')#blog-upload-file-form
            div.modal-body#blog-preview-body
              div.form-group
                label.control-label(for='#blog-upload-file-input')= _("File")
                input(type='file',name='file',accept='image/*',required=true)#blog-upload-file-input
            div.modal-footer
              button(type='submit').btn.btn-primary= _("Upload")
        div#blog-upload-file-after-upload.modal-body