mixin conversation_mixin(target)
  div.modal#comment-popup
    div.modal-dialog
      form(method='post')
        div.modal-content
          div.modal-body
            div.form-group
              label(for='comment-block').control-label= _("Write your comment for the last response")
              textarea.form-control#comment-block
          div.modal-footer
            div.form-group
              button(type='submit').btn.btn-primary.new-msg-button= _("Comment")

  div#conversation(class=attributes.class,data-target=target + (target.indexOf('?') >= 0 ? '&' : '?') + Object.entries(flags).map(([key, value]) => `flags[${encodeURIComponent(key)}]=${encodeURIComponent(value)}`).join('&'))
    div#chat
    div#input-block
      form(action='#')#input-form
        div.form-group.has-feedback#input-form-group
          label(for='#chat-input').sr-only= _("Command:")
          input(type='text', placeholder=_("Write your command or answer here"), value=command ? command : '').form-control#input
          button(type='button', title='Click to send a voice command').btn.btn-primary#record-button
          span#form-icon.glyphicon.glyphicon-warning-sign.form-control-feedback.hidden
          span(role='button').hidden#cancel
            span(aria-hidden='true').glyphicon.glyphicon-remove-circle.form-control-feedback

    div.hidden-container
      div.help-block.hidden= _("Lost connection to the server.")
      div.almond-thinking.hidden
        span
        span
        span

mixin conversation_recording_mixin()
  div.modal#recording-warning
    div.modal-dialog
      div.modal-content
        div.modal-body
          h4= _("Warning:")
          p
            = _("While recording is active, all your commands and all the replies from Genie will be stored ")
            = _("and reviewed by the Stanford Genie Team.")
        div.modal-footer
          button.btn.btn-primary.new-msg-button#confirm-recording= _("Confirm")
          button.btn.btn-default.new-msg-button#cancel-recording= _("Cancel")

  div.hidden#toolbar
    div.form-inline
      div.rec_log.checkbox-inline
        label(for='recording-toggle').control-label
          input(type='checkbox')#recording-toggle
          = _("Record conversation")
      div.form-group.hidden#show-log
        i.far.fa-save
        span= _("Show recorded log")

  div.modal#recording-save
    div.modal-dialog
      div.modal-content
        div.modal-body
          p= _("Conversation log updated.")
          pre#recording-log
        div.modal-footer
          button.btn.btn-primary.new-msg-button#recording-download= _("Download")
          button.btn.btn-default.new-msg-button#recording-save-done= _("Done")
