mixin conversation_mixin(target)
  div.modal#comment-popup
    div.modal-dialog
      form(method='post')
        div.modal-content
          div.modal-body
            div.form-group
              label(for='comment-block').control-label= _("Write your comment for the last response")
              textarea.form-control#comment-block
          div.modal-footer
            div.form-group
              button(type='submit').btn.btn-primary.new-msg-button= _("Comment")

  div#conversation(class=attributes.class,data-target=target + (target.indexOf('?') >= 0 ? '&' : '?') + Object.entries(flags).map(([key, value]) => `flags[${encodeURIComponent(key)}]=${encodeURIComponent(value)}`).join('&'))
    div#chat
    div#input-block
      form(action='#')#input-form
        div.form-group.has-feedback#input-form-group
          label(for='#chat-input').sr-only= _("Command:")
          input(type='text', placeholder=_("Write your command or answer here"), value=command ? command : '').form-control#input
          button(type='button', title='Click to send a voice command').btn.btn-primary#record-button
          span#form-icon.glyphicon.glyphicon-warning-sign.form-control-feedback.hidden
          span(role='button').hidden#cancel
            span(aria-hidden='true').glyphicon.glyphicon-remove-circle.form-control-feedback

    div.hidden-container
      div.help-block.hidden= _("Lost connection to the server.")
      div.almond-thinking.hidden
        span
        span
        span
