section.divider
  h3= _("Your developer organization")

  div.panel.panel-primary.developer-org-panel
    div.panel-heading
      h4.panel-title= _("Profile")

    div.panel-body
      if user.developer_status >= Constants.DeveloperStatus.ORG_ADMIN
        form(action='/developers/organization/edit-profile',method='post',data-toggle='validator')
          input(type='hidden',name='_csrf',value=csrfToken)

          div.form-group
            label.control-label(for='organization-name')= _("Name")
            input(type='text',name='name',value=developer_org.name).form-control#organization-name

          div.form-group
            button(type='submit').btn.btn-primary.new-msg-button= _("Update profile")
            |
            |
            a(href='/profiles/organization/' + developer_org.id_hash).btn.btn-default.new-msg-button= _("Show my organization's public profile")
      else
        div.form-group
          label.control-label(for='organization-name')= _("Name")
          p.form-control-status#organization-name= developer_org.name
        div.form-group
          a(href='/profiles/organization/' + developer_org.id_hash).btn.btn-default.new-msg-button= _("Show my organization's public profile")

  div.panel.panel-primary.developer-org-panel
    div.panel-heading
      h4.panel-title= _("Statistics")

    div.panel-body
      p
        != ngettext("Your organization owns <strong>%d</strong> Thingpedia device.", "Your organization owns <strong>%d</strong> Thingpedia devices.", developer_org_stats.device_count).format(developer_org_stats.device_count)
        != ngettext(" Of these, <strong>%d</strong> is approved.", " Of these, <strong>%d</strong> are approved.", developer_org_stats.approved_device_count).format(developer_org_stats.approved_device_count)

  div.panel.panel-primary.developer-org-panel
    div.panel-heading
      h4.panel-title= _("Members")

    ul.list-group
      for m in developer_org_members
        li.list-group-item.clearfix
          h5= m.username

          p
            if m.developer_status >= Constants.DeveloperStatus.ORG_ADMIN
              = _("Administrator")
            else if m.developer_status >= Constants.DeveloperStatus.DEVELOPER
              = _("Developer")
            else
              = _("Tester")

          p
            if user.developer_status >= Constants.DeveloperStatus.ORG_ADMIN
              if m.developer_status < Constants.DeveloperStatus.ORG_ADMIN
                form(action='/developers/organization/promote', method='post').form-inline
                  input(type='hidden',name='_csrf',value=csrfToken)
                  input(type='hidden',name='user_id',value=m.cloud_id)
                  button(type='submit').btn.btn-success.btn-sm.new-msg-button.form-control= _("Promote")
              if user.cloud_id !== m.cloud_id
                if m.developer_status > Constants.DeveloperStatus.USER
                  form(action='/developers/organization/demote', method='post').form-inline
                    input(type='hidden',name='_csrf',value=csrfToken)
                    input(type='hidden',name='user_id',value=m.cloud_id)
                    button(type='submit').btn.btn-danger.btn-sm.new-msg-button.form-control= _("Demote")
                else
                  form(action='/developers/organization/remove-member', method='post').form-inline.form-delete-device
                    input(type='hidden',name='_csrf',value=csrfToken)
                    input(type='hidden',name='user_id',value=m.cloud_id)
                    button(type='submit').btn.btn-danger.btn-sm.new-msg-button.form-control= _("Remove")
      for m in developer_org_invitations
        li.list-group-item.clearfix
          h5= m.username
          p= _("Invited (pending)")
          p
            if user.developer_status >= Constants.DeveloperStatus.ORG_ADMIN
              form(action='/developers/organization/rescind-invitation', method='post').form-inline
                input(type='hidden',name='_csrf',value=csrfToken)
                input(type='hidden',name='user_id',value=m.cloud_id)
                button(type='submit').btn.btn-success.btn-sm.new-msg-button.form-control= _("Rescind invitation")

    if user.developer_status >= Constants.DeveloperStatus.ORG_ADMIN
      div.panel-footer
        div.row
          div.col-sm-6.col-md-4
            a(href='#new-org-member-dialog',data-toggle='modal').btn.btn-block.btn-sm.new-msg-button.btn-default= _("Add a member")
        div.modal.fade(role='dialog')#new-org-member-dialog
          div.modal-dialog
            div.modal-content
              div.modal-header
                a.close(data-dismiss='modal', aria-label="Close")
                  span(aria-hidden='true') ×

                h4.modal-title= _("Invite a member to your organization")
              form(action='/developers/organization/add-member', method='post', data-toggle='validator')
                input(type='hidden',name='_csrf',value=csrfToken)

                div.modal-body
                  div.form-group
                    label(for='new-org-member-name').control-label= _("Username")
                    input(type='text',name='username').form-control#new-org-member-name

                  div.form-group
                    label(for='new-org-member-status').control-label= _("Role")
                    select(name='developer_status').form-control#new-org-member-status
                      option(value=Constants.DeveloperStatus.TESTER)= _("Tester")
                      option(value=Constants.DeveloperStatus.DEVELOPER)= _("Developer")
                      option(value=Constants.DeveloperStatus.ORG_ADMIN)= _("Administrator")

                div.modal-footer
                   div.form-group
                      button(type='submit').btn.btn-primary= _("Invite member")
