nav#doc-sidebar
  ul
    li(class=(section === 'overview' ? 'current' : ''))
      a.doc-sidebar-subtitle(href='/developers')= _("Overview")
    li(class=(section === 'train-almond' ? 'current' : ''))
      a.doc-sidebar-subtitle(href='/developers/train')= _("Train Almond")
    li(class = (section === 'status' ? 'current' : ''))
      a.doc-sidebar-subtitle(href='/me/status')= _("Almond Status and Logs")
    if user.developer_org !== null
      if Config.WITH_THINGPEDIA === 'embedded'
        li(class=(section === 'devices' ? 'current' : ''))
          a.doc-sidebar-subtitle(href='/developers/devices')= _("Thingpedia Devices")
      li(class=(section === 'oauth' ? 'current' : ''))
        a.doc-sidebar-subtitle(href='/developers/oauth')= _("OAuth Applications")
      if Config.WITH_LUINET === 'embedded'
        li(class=(section === 'mturk' ? 'current' : ''))
          a.doc-sidebar-subtitle(href='/developers/mturk')= _("MTurk Paraphrasing (Beta)")


