nav#doc-sidebar
  ul
    li.thingpedia-docs
      a.doc-sidebar-subtitle(href='#thingpedia-doc-list',data-toggle='collapse')
        div.pull-left= _("Almond Documentation")
        div.text-right#doc-search
          span(role='button')#doc-search-icon.glyphicon.glyphicon-search
      ul#thingpedia-doc-list(class=(!!currentPage ? 'collapse in' : 'collapse'))
        include ./thingpedia_doc_index.pug

div.modal.fade#doc-search-modal(role='dialog')
  div.modal-dialog
    div.modal-content
      div.modal-header.text-center
        h4.modal-title= _("Documentation Search")
      div.modal-body
        form(action='#', autocomplete='off')
          div.input-group#docsearch-container
            input(required=true, placeholder=_("Type to search..."), aria-label=_("Search documentation")).form-control#docsearch-input
            div.input-group-addon(aria-hidden='true')
              span.glyphicon.glyphicon-search
          div#docsearch-results.list-group
      div.modal-footer
