extends layout

block page_name
  = _("Error")

block content
  p= _("Sorry that did not work")
  if typeof message === 'string'
    p= message
  else if message.name === 'SyntaxError'
    p= _("Syntax error at %s line %d: %s").format(message.fileName, message.lineNumber, message.message)
  else if message.message
    p= message.message
  else
    p= String(message)
  a(href='javascript:history.back()').btn.btn-primary= _("Go back")
