div.container
  div.row
    div#footer-social
      p

        a(href='https://twitter.com/StanfordOVAL', title=_("Connect with us on Twitter"), target='_blank')
          img(alt=_("Connect with us on Twitter"),src=Config.ASSET_CDN + '/images/symbolic-logo-twitter.svg').f_icons

        a(href='mailto:covid-genie-feedback@lists.stanford.edu', title=_("Contact us via email"), target='_blank')
          img(alt=_("Contact us via email"),src=Config.ASSET_CDN + '/images/symbolic-logo-email.svg').f_icons

    div.col-xs-12
      p
        != _("Genie is part of a research project of the <a href='https://oval.cs.stanford.edu'>Open Virtual Assistant Laboratory</a> at Stanford University.")
        |
        |
        a(href='/about/privacy')= _("Privacy Policy")

        // -p
            small
            != _("Genie is free software, distributed under the <a href='https://opensource.org/licenses/Apache-2.0'>Apache license, version 2.0</a>. ")
