doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    title= page_title
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/all.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i")
    link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/style.css')
    block styles
    script(src="https://code.jquery.com/jquery-3.4.1.min.js",integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=",crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js",integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd",
      crossorigin="anonymous")
    if Config.ACKEE_URL !== null
      script(async=true,src=Config.ASSET_CDN + "/javascripts/ackee-min.js",data-ackee-server=Config.ACKEE_URL,data-ackee-domain-id=Config.ACKEE_DOMAIN_ID,data-ackee-opts='{"detailed": true}')
    script(src=Config.ASSET_CDN + '/javascripts/validator.min.js')
    script(src=Config.ASSET_CDN + '/javascripts/jstz.min.js')
    script(src=Config.ASSET_CDN + '/javascripts/shared.js')
    block scripts

  - var index = false;
  - var stdlayout = true;
  - var includefooter = true;
  body(data-icon-cdn=CDN_HOST, data-developer-key=authenticated ? user.developer_key : false,
       data-locale=locale,
       data-thingpedia-url=THINGPEDIA_URL,
       data-nl-server-url=Config.NL_SERVER_URL,
       data-voice-server-url=Config.VOICE_SERVER_URL,
       data-cloud-id=authenticated ? user.cloud_id : null,
       data-csrf-token=csrfToken,
       data-translations=JSON.stringify({ yes: _("Yes"), no: _("No"), cancel: _("Cancel.") }))
    //- HACK standard layout pages are currently broken...
    if !stdlayout
      nav.navbar-inverse.navbar.navbar-fixed-top(role="banner")
        div.navbar-header
          button(class="navbar-toggle collapsed", data-toggle="collapse", data-target="#page-nav")
            span.sr-only= _("Toggle navigation")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.scroller.hidden-xs.hidden-sm(href='/')
            span= _("Genie")
          span.navbar-brand.scroller.hidden-md.hidden-lg(aria-hidden='true')
            block page_name

      div.navbar-collapse.collapse(role="navigation")#page-nav
        include navbar.pug

    if stdlayout
      div.container#page-body
        if !index
          div.row.hidden-xs.hidden-sm
            h1.col-sm-12#page-title
              block page_name
        div.row
          div.col-sm-12
            block content
    else
      block content

    if includefooter
      footer.page-footer.hidden-xs.hidden-sm
        if Config.USE_BRAND == 'stanford'
          include stanford/footer.pug
        else
          include footer.pug
