doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    title= page_title
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    //,integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7",crossorigin="anonymous")
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic")
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    //link(rel='stylesheet', href='/stylesheets/agency.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block styles
    script(src="//code.jquery.com/jquery-1.11.2.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    //,integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
    script(src='/javascripts/validator.min.js')
    script(src='/javascripts/jstz.min.js')
    script(src='/javascripts/shared.js')
    block scripts

  - var index = false;
  - var stdlayout = true;
  - var includefooter = true;
  body(data-icon-cdn=CDN_HOST, data-developer-key=authenticated ? user.developer_key : false,
       data-locale=locale, data-thingpedia-url=THINGPEDIA_URL, data-user-id=user.id)
    nav.navbar-inverse.navbar.navbar-fixed-top(role="banner")
      div.navbar-header
        button(class="navbar-toggle collapsed", data-toggle="collapse", data-target="#page-nav")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand.scroller.hidden-xs.hidden-sm(href='/') Almond
        span.navbar-brand.scroller.hidden-md.hidden-lg(aria-hidden='true')
          block page_name

      div.navbar-collapse.collapse(role="navigation")#page-nav
        include navbar.pug

    if stdlayout
      div.container#page-body
        if !index
          div.row.hidden-xs.hidden-sm
            h1.col-sm-12#page-title
              block page_name
        div.row
          div.col-sm-12
            block content
    else
      block content

    if includefooter
      footer
        div.container
          div.row
            div.col-xs-12
              p
                small!= _("Almond and Thingpedia are part of a research project of the <a href='http://mobisocial.stanford.edu'>Mobisocial Computing Laboratory</a> at Stanford University.")
              p
                small
                  != _("Almond is free software, distributed under the <a href='https://www.gnu.org/licenses/old-licenses/gpl-2.0.html'>GPLv2 license</a>. ")
                  | &nbsp;&nbsp;
                  a(href='https://github.com/Stanford-Mobisocial-IoT-Lab/thingengine-platform-cloud/issues')= _("Report a bug")
                  | &nbsp;&nbsp;
                  a(href='https://github.com/Stanford-Mobisocial-IoT-Lab/thingengine-platform-cloud').label.label-default Fork me on Github!