doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    title= page_title
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/all.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i")
    link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/style.css')
    block styles
    script(src="//code.jquery.com/jquery-1.11.2.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    //,integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
    script(src=Config.ASSET_CDN + '/javascripts/validator.min.js')
    script(src=Config.ASSET_CDN + '/javascripts/jstz.min.js')
    script(src=Config.ASSET_CDN + '/javascripts/shared.js')
    block scripts

  - var index = false;
  - var stdlayout = true;
  - var includefooter = true;
  body(data-icon-cdn=CDN_HOST, data-developer-key=authenticated ? user.developer_key : false,
       data-locale=locale,
       data-thingpedia-url=THINGPEDIA_URL,
       data-nl-server-url=Config.NL_SERVER_URL,
       data-cloud-id=authenticated ? user.cloud_id : null,
       data-csrf-token=csrfToken)
    nav.navbar-inverse.navbar.navbar-fixed-top(role="banner")
      div.navbar-header
        button(class="navbar-toggle collapsed", data-toggle="collapse", data-target="#page-nav")
          span.sr-only= _("Toggle navigation")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand.scroller.hidden-xs.hidden-sm(href='/')
          //-if Config.USE_STANFORD_BRAND
            img(src=Config.ASSET_CDN + '/images/stanford-logo.png', aria-hidden='true')#stanford-logo
          span= _("Almond")
        span.navbar-brand.scroller.hidden-md.hidden-lg(aria-hidden='true')
          block page_name

      div.navbar-collapse.collapse(role="navigation")#page-nav
        include navbar.pug

    if stdlayout
      div.container#page-body
        if !index
          div.row.hidden-xs.hidden-sm
            h1.col-sm-12#page-title
              block page_name
        div.row
          div.col-sm-12
            block content
    else
      block content

    if includefooter
      footer.page-footer
        if Config.USE_STANFORD_BRAND
          include stanford/footer.pug
        else
          include footer.pug
