extends layout

block styles
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/thingpedia.css')
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/dev_sidebar.css')
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/thingpedia-devices.css')

block scripts
  script(src=Config.ASSET_CDN + '/javascripts/docsearch.js')

block page_name
  - stdlayout = false;
  - var currentPage = 'luinet-model-list';
  = _("Documentation")

block content
  div.container-fluid#page-body
    div.row
      div.col-lg-3.col-md-4
        include doc_sidebar

      div.col-xs-12.col-md-8.col-lg-9
        h3= _("Available LUInet Models")

        ul.list-group#luinet-model-list
          for m in models
            li.list-group-item
              h4= _("%s (%s)").format(m.tag, m.language)

              p= _("Template Pack: %s").format(m.template_file_name)
              p= _("Flags: %s").format(m.flags.join(_(", ")))

              if m.all_devices
                if m.use_approved
                  p!= _("Devices: <i>all</i> (approved only)")
                else
                  p!= _("Devices: <i>all</i>")
              else
                p
                  = _("Devices: ")
                  - var first = true;
                  each d in m.for_devices
                    if !first
                      | ,
                      |
                      |
                    - first = false;
                    a(href=Config.THINGPEDIA_URL + '/devices/by-id/' + d)= d
