extends layout

block styles
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/thingpedia.css')
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/thingpedia-devices.css')

block page_name
  = _("Available NLP Templates")

block content
  ul.list-group#luinet-template-list
    for t in templates
      li.list-group-item
        h4= _("%s (%s)").format(t.tag, t.language)
        p= t.description
        p= _("Available flags: %s").format(JSON.parse(t.flags).join(_(", ")))
        p= _("Version: %d").format(t.version)
        if t.public
          p.text-muted= _("Public")
        else
          p.text-muted= _("Private")
