extends layout

block page_name
  = _("Datasets")

block styles
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/thingpedia.css')

block content
  table.table
    thead
      tr
        th= _("Language")
        th= _("Type")
        th= _("Size")
    tbody
      for set in datasets
        tr
          td= set.language
          td
            a(href='/luinet/datasets/' + set.language + '/' + set.type)= set.type
          td= set.size
