extends layout

block styles
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/thingpedia.css')
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/thingpedia-devices.css')

block page_name
  = _("Available NLP Models")

block content
  ul.list-group#luinet-model-list
    for m in models
      li.list-group-item
        h4= _("%s (%s)").format(m.tag, m.language)

        p= _("Template Pack: %s").format(m.template_file_name)
        p= _("Flags: %s").format(m.flags.join(_(", ")))

        if m.all_devices
          if m.use_approved
            p!= _("Devices: <i>all</i> (approved only)")
          else
            p!= _("Devices: <i>all</i>")
        else
          p
            = _("Devices: ")
            - var first = true;
            each d in m.for_devices
              if !first
                | ,
                |
                |
              - first = false;
              a(href=Config.THINGPEDIA_URL + '/devices/by-id/' + d)= d

        if authenticated && m.trained && (m.owner === user.developer_org || (m.access_token === null && m.use_approved))
          p
            a(href='/luinet/models/download/' + m.language + '/' + m.tag).btn.btn-sm.btn-default= _("Download")
