extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/mturk.css')

block scripts
  script(src='/javascripts/mturk_check.js')

block page_name
  - var stdlayout = false;
  = _('Paraphrase')

block content
  div#page-body
    div.sections
      section.divider
        h3= _('Instructions')
        div.container
          div.row
            div.col-xs-12
              p 
                |  We are building a virtual assistant that can help you control all your devices, social accounts, etc. 
                |  Our virtual assistant can do a lot of things now but it still has a hard time to understand the users 
                |  since different users may say the same thing very differently. So we need you to help us teach the assistant.
              p
                |  In the following, you will see 4 different sentences, and you will be asked to paraphrase each of them in 
                |  different ways <span style='color:#FF0000;'>without changing the meaning of the sentence</span>, which means
                ul
                  li Do not remove the device/service names if they exist in the original sentence
                  li Do not change the meaning of the sentence even if doesn't seem to be useful
                  li Do not drop any information unless it's obvious <b>without context</b>;
                  li Do not add any new information that doesn't exist in the sentence;
                  li <b>Keep quoted parts <span style='color:#FF0000;'>(including the quote marks)</span>, emails, phone numbers identical</b> 
                  li <b>Do not drop @ signs and # signs</b>
              p 
                |  Try your best to <font color="red"> make the 2 paraphrases as different as possible</font>.
                |  If you really don't know how to paraphrase, leave "no idea". According to our stats, we only got 5% of "no idea"s.
                |  So if you give us too many of them, we might reject you.             

      section.divider
        h3= _('Examples')
        div.container
          div.row
            div.col-xs-12
              h4 Original sentence: send a direct message to @bob saying &quot;hello&quot; on twitter
              div.container
                div.row
                  div.col-md-6
                    p Correct paraphrase 1: 
                      pre direct message @bob on twitter with the message &quot;hello&quot;
                  div.col-md-6
                    p Correct paraphrase 2: 
                      pre say &quot;hello&quot; to @bob via direct message on twitter
                div.row
                  div.col-md-6
                    p Wrong paraphrase 1: (<font color='red'>missing server name 'twitter'</font>) 
                      pre say 'hello' to @bob
                  div.col-md-6
                    p Wrong paraphrase 2: (<font color='red'>missing quotes for 'hello' and the @ sign for '@bob'</font>) 
                      pre say hello to bob on twitter

      section.divider
        h3= _('Your Turn Now') 
        div.container
          div.row
            div.col-xs-12
              - var stdlayout = true;
              form(action='mturk/submit', method='post')#turking
                input(type='hidden',name='_csrf',value=csrfToken)
                each s, i in sentences
                  h4= _('Sentence ') + (i+1) + ': '
                    span(id='synthetic' + (i+1))= s
                  div.container
                    div.row#paraphrase-row
                      each j in [1, 2]
                        div.col-md-6
                          div.form-group
                            p= _('Paraphrase') + j + ': '
                              span(class='warning', hidden, id='warning' + (i+1) + '-' + j)= _('Something wrong for this paraphrase')
                            input.form-control(type='text', class='paraphrase', id='paraphrase' + (i+1) + '-' + j, name='paraphrase' + (i+1) + '-' + j)
                div.form-group#submit-section
                  p= _('Worker ID ')
                    | &nbsp; &nbsp;
                    input(type='text', name='worker')#worker-id
                div.form-group
                  button(type='submit', disabled)#submit= _('Submit')
                p(class='warning')#submit-warning= _('You cannot submit until you finish the tasks.')

