extends layout

block scripts
  script(src=Config.ASSET_CDN + '/javascripts/conversation-bundle.js')

block styles
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/spinner.css')
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/conversation.css')

block page_name
  = _("Web Almond")

block content
  div#conversation.single(data-target='/me/ws/conversation')
    div#chat
    div#input-block
      span(role='button').hidden#cancel
        span(aria-hidden='true').glyphicon.glyphicon-remove-circle
        span.sr-only= _("Cancel")
      form(action='#')#input-form
        div.form-group.has-feedback#input-form-group
          label(for='#chat-input').sr-only= _("Command:")
          input(type='text', placeholder=_("Write your command or answer here"), value=command ? command : '').form-control#input
          button(type='button').btn.btn-primary#record-button= _("Say a command!")
          span.spinner-container.form-control-feedback.hidden
            span.spinner= _("Almond is thinking…")
          span.glyphicon.glyphicon-warning-sign.form-control-feedback.hidden
          span.help-block.hidden= _("Lost connection to the server.")
