extends layout

block scripts
  script(src='/javascripts/apps.js')

block page_name
  = _("My Sabrina")

block styles
  link(rel='stylesheet', href='/stylesheets/my_stuff.css')

mixin device_list(devices, online, datasource)
  div.row
    each dev, i in devices
      if i % 6 === 0
        div.clearfix.visible-lg.visible-md
      else if i % 3 === 0
        div.clearfix.visible-lg
      else if i % 2 === 0
        div.clearfix.visible-md
      div.col-lg-4.col-md-6
        div.panel.panel-default.installed-dev
          if dev.kind
            a(href='/thingpedia/devices/by-id/' + dev.kind).panel-heading
              h2.panel-title= dev.name
          else
            div.panel-heading
              h2.panel-title= dev.name
          div.panel-body
            p= dev.description

            if !online
              if dev.ownerTier !== 'cloud' && dev.ownerTier !== 'global'
                p= _("This device is owned by your %s.").format(dev.ownerTier)

              if dev.available == 0
                p= _("The device is not available. It might be powered off or disconnected.")
              else if dev.available == 1
                p= _("The device is available and working.")
              else if dev.available == 2
                if dev.ownerTier === 'server'
                  p= _("The device is not available because your server is disconnected.")
                    = _(" Make sure that it is powered on and correctly configured.")
                else if dev.ownerTier === 'phone'
                  p= _("The device is not available because your phone is disconnected.")
                    = _(" Make sure that it is powered on and connected to the network.")
                else
                  p= _("The device is not available because ThingEngine Online cannot be reached.")
                    = _(" There might be a temporary service outage.")
              else
                p= _("It was not possible to verify if the device is available.")
                  = _("Please check it is powered on and correctly configured.")
          div.panel-footer
            div.row
              if !dev.isTransient
                div.col-md-6
                  form.form-inline(action="/devices/delete",method="post").form-delete-app
                    input(type='hidden',name='id',value=dev.uniqueId)
                    input(type='hidden',name='_csrf',value=csrfToken)
                    if datasource
                      button(type='submit').btn.btn-danger.btn-sm.btn-block= _("Disable")
                    else
                      button(type='submit').btn.btn-danger.btn-sm.btn-block= _("Forget")

block content
  for message in messages
    div.alert.alert-success.alert-dismissible.fade.in(role='alert')
      button(type='button', data-dismiss='alert', aria-label="Close").close
        span(aria-hidden='true') ×
      p= message

  h2= _("Running Apps")

  div.row
    each app, i in apps
      if i % 6 === 0
        div.clearfix.visible-lg.visible-md
      else if i % 3 === 0
        div.clearfix.visible-lg
      else if i % 2 === 0
        div.clearfix.visible-md
      div.col-lg-4.col-md-6
        div.panel.panel-default.app-template
          h2.panel-title= app.name
          div.panel-body
            if app.error
              p= _("This app had an error: %s").format(app.error)
            else if app.running
              p= _("This app is running.")
            else if app.enabled
              p= _("This app is enabled but not running.")
            else
              p= _("This app is not enabled.")

          div.panel-footer
            div.row
              div.col-md-6
                form.form-inline(action="/apps/delete",method="post").form-delete-app
                  input(type='hidden',name='id',value=app.uniqueId)
                  input(type='hidden',name='_csrf',value=csrfToken)
                  button(type='submit').btn.btn-sm.btn-danger.btn-block= _("Stop")

  h2= _("Enabled Data Sources")

  +device_list(datasourceDevices, true, true)

  div.row
    div.col-sm-6.col-md-3
      a(href='/devices/create?class=data').btn.btn-primary.btn-block= _("Enable new data source")

  h2= _("My Devices")

  +device_list(physicalDevices, false, false)

  div.row
    div.col-sm-6.col-md-3
      a(href='/devices/create?class=physical').btn.btn-primary.btn-block= _("Configure new device")

  h2= _("My Accounts")

  +device_list(onlineDevices, true, false)

  div.row
    div.col-sm-6.col-md-3
      a(href='/devices/create?class=online').btn.btn-primary.btn-block= _("Add new account")
