extends layout

block scripts
  script(src='/javascripts/apps.js')

block page_name
  | My Sabrina

block styles
  link(rel='stylesheet', href='/stylesheets/my_stuff.css')

mixin device_list(devices, online, datasource)
  div.row
    each dev, i in devices
      if i % 6 === 0
        div.clearfix.visible-lg.visible-md
      else if i % 3 === 0
        div.clearfix.visible-lg
      else if i % 2 === 0
        div.clearfix.visible-md
      div.col-lg-4.col-md-6
        div.panel.panel-default.installed-dev
          if dev.kind
            a(href='/thingpedia/devices/by-id/' + dev.kind).panel-heading
              h2.panel-title= dev.name
          else
            div.panel-heading
              h2.panel-title= dev.name
          div.panel-body
            p= dev.description

            if !online
              if dev.ownerTier !== 'cloud'
                p This device is owned by your #{dev.ownerTier}.

              if dev.available == 0
                p The device is not available. It might be powered off or disconnected.
              else if dev.available == 1
                p The device is available and working.
              else if dev.available == 2
                if dev.ownerTier === 'server'
                  p The device is not available because your server is disconnected.
                    |  Make sure that it is powered on and correctly configured.
                else if dev.ownerTier === 'phone'
                  p The device is not available because your phone is disconnected.
                    |  Make sure that it is powered on and connected to the network.
                else
                  p The device is not available because ThingEngine Online cannot be reached.
                    |  There might be a temporary service outage.
              else
                p It was not possible to verify if the device is available.
                  | Please check it is powered on and correctly configured.
          div.panel-footer
            div.row
              if !dev.isTransient
                div.col-md-6
                  form.form-inline(action="/devices/delete",method="post").form-delete-app
                    input(type='hidden',name='id',value=dev.uniqueId)
                    input(type='hidden',name='_csrf',value=csrfToken)
                    if datasource
                      button(type='submit').btn.btn-danger.btn-sm.btn-block Disable
                    else
                      button(type='submit').btn.btn-danger.btn-sm.btn-block Forget

mixin thingpedia_apps(apps, visible)
  div.row
    each app, i in apps
      if i % 6 === 0
        div.clearfix.visible-lg.visible-md
      else if i % 3 === 0
        div.clearfix.visible-lg
      else if i % 2 === 0
        div.clearfix.visible-md
      div.col-lg-4.col-md-6.app-template
        div.panel.panel-default
          a.panel-heading(href='/thingpedia/apps/install/' + app.id)
            h2.panel-title= app.name
          div.panel-body
            p #{app.description}
            p
              each tag in app.tags
                a(href='/thingpedia/apps/by-tag/' + tag.tag) ##{tag.tag}
                | &#x20;
            p
              a(href='/thingpedia/apps/' + app.id) Show code
          div.panel-footer
            div.row
              div.col-md-6
                if visible
                  form.form-inline(action="/thingpedia/apps/set-invisible/" + app.id,method="post")
                    input(type='hidden',name='_csrf',value=csrfToken)
                    button(type='submit').btn.btn-sm.btn-success.btn-block Hide from Collection
                else
                  form.form-inline(action="/thingpedia/apps/set-visible/" + app.id,method="post")
                    input(type='hidden',name='_csrf',value=csrfToken)
                    button(type='submit').btn.btn-sm.btn-success.btn-block Publish
              div.col-md-6
                button(data-app-id=app.id).btn.btn-sm.btn-danger.btn-block.button-delete-thingpedia-app Delete

block content
  if sharedApp
    div.modal.fade#share-app-dialog(role='dialog')
      div.modal-dialog
        div.modal-content
          div.modal-header
            a.close(data-dismiss='modal', aria-label="Close")
              span(aria-hidden='true') ×

            h4.modal-title Do you want to share #{sharedApp.name}?

          div.modal-body
            p You just installed a shared application. Do you want to
              | share it with everyone in the group?

            p If you say yes, a link will be sent to the group allowing
              | other people to install the same app.

            form(action='/apps/share', method='post')
              input(type='hidden',name='id',value=sharedApp.uniqueId)
              input(type='hidden',name='_csrf',value=csrfToken)

              div.form-group
                button(type='submit').btn.btn-success Yes, share it
                | &#x20;
                a.btn.btn-default(data-dismiss='modal') No, thanks

  for message in messages
    div.alert.alert-success.alert-dismissible.fade.in(role='alert')
      button(type='button', data-dismiss='alert', aria-label="Close").close
        span(aria-hidden='true') ×
      p= message

  h2 Running Apps

  div.row
    each app, i in apps
      if i % 6 === 0
        div.clearfix.visible-lg.visible-md
      else if i % 3 === 0
        div.clearfix.visible-lg
      else if i % 2 === 0
        div.clearfix.visible-md
      div.col-lg-4.col-md-6
        div.panel.panel-default.app-template
          a.panel-heading(href='/apps/#{app.uniqueId}/results')
            h2.panel-title= app.name
          div.panel-body
            if app.error
              p This app had an error: #{app.error}
            else if app.running
              if app.feed
                p This app is running in the chat room #{app.feed.name}.
              else
                p This app is running.
            else if app.enabled
              p This app is enabled but not running.
            else
              p This app is not enabled.

          div.panel-footer
            div.row
              div.col-md-6
                a(href='/apps/#{app.uniqueId}/publish').btn.btn-sm.btn-success.btn-block Publish
              div.col-md-6
                form.form-inline(action="/apps/delete",method="post").form-delete-app
                  input(type='hidden',name='id',value=app.uniqueId)
                  input(type='hidden',name='_csrf',value=csrfToken)
                  button(type='submit').btn.btn-sm.btn-danger.btn-block Stop

              if app.state && app.state.$F
                div.col-md-6
                  form.form-inline(action="/apps/share",method="post")
                    input(type='hidden',name='id',value=app.uniqueId)
                    input(type='hidden',name='_csrf',value=csrfToken)
                    button(type='submit').btn.btn-sm.btn-success.btn-block Share

  div.row
    div.col-sm-6.col-md-3
      a(href='/thingpedia/apps').btn.btn-default.btn-block Find new apps

  h2 Enabled Data Sources

  +device_list(datasourceDevices, true, true)

  div.row
    div.col-sm-6.col-md-3
      a(href='/devices/create?class=data').btn.btn-primary.btn-block Enable new data source

  h2 My Devices

  +device_list(physicalDevices, false, false)

  div.row
    div.col-sm-6.col-md-3
      a(href='/devices/create?class=physical').btn.btn-primary.btn-block Configure new device

  h2 My Accounts

  +device_list(onlineDevices, true, false)

  div.row
    div.col-sm-6.col-md-3
      a(href='/devices/create?class=online').btn.btn-primary.btn-block Add new account

  div.modal.fade#delete-thingpedia-app-dialog(role='dialog')
    div.modal-dialog
      div.modal-content
        div.modal-header
          a.close(data-dismiss='modal', aria-label="Close")
            span(aria-hidden='true') ×

          h4.modal-title Are you sure?

        div.modal-body
          div.container-fluid
            div.row
              div.col-xs-12
                p If you delete your app, all other users will be
                  | unable to enable it.
                p This will not affect users who already enabled it.

            div.row
              div.col-sm-4
                form(action='/',method='post')#delete-thingpedia-app-form
                  input(type='hidden',name='_csrf',value=csrfToken)
                  button(type='submit').btn.btn-danger.btn-block Delete App

              div.col-sm-4
                button(type='button',data-dismiss='modal').btn.btn-primary.btn-block Cancel

  h2 My Apps

  if thingpediaInvisible.length > 0
    +thingpedia_apps(thingpediaInvisible, false)
  else
    p You have not created any app yet.

  div.row
    div.col-sm-6.col-md-3
      a(href='/thingpedia/apps/create').btn.btn-primary.btn-block Create a new app

  if thingpediaVisible.length > 0
    h2 My Published Apps
    +thingpedia_apps(thingpediaVisible, true)

