ul.nav.navbar-nav
  li.hidden-md.hidden-lg
    a(href="/")= _("Home")
  li
    a(href='/get-almond')= _("Get Almond")
  if authenticated
    li
      a(href="/me")= _("My Almond")
    li
      a(href='/me/conversation')= _("Web Almond")
  if WITH_THINGPEDIA === 'embedded'
    li
      a(href='/thingpedia')= _("Thingpedia")
    li
      a(href='/thingpedia/cheatsheet')= _("Cheatsheet")
  li
    a(href='/thingpedia/developers')= _("Developers")
  if authenticated && user.developer_status >= 3
    li
      a(href="/admin")= _("Administration")

ul.nav.navbar-nav.navbar-right
  if authenticated
    li
      a(href="/user/profile")= _("Settings")
  li
    if authenticated
      a.navbar-login#navbar-login-button(href='/user/logout')= _("Log Out")
    else
      a.navbar-login#navbar-login-button(href='/user/login')= _("Log In")
