ul.nav.navbar-nav
  li.hidden-md.hidden-lg.hidden-sm
    a(href="/")= _("Home")
  for page in Config.EXTRA_ABOUT_PAGES
    if page.navbar !== null
      li
        a(href='/about/' + page.url)= _(page.navbar)
  li
    a(href='/blog')= _("Blog")
  li
    a(href="/me")= _("My Almond")
  if WITH_THINGPEDIA === 'embedded'
    li
      a(href='/thingpedia')= _("Thingpedia")
  if authenticated
    if user.developer_org
      li
        a(href='/thingpedia/developers')= _("Console")
    if user.developer_status >= 3
      li
        a(href="/admin")= _("Admin")

ul.nav.navbar-nav.navbar-right
  if authenticated
    li
      a(href="/user/profile")= _("Settings")
  li
    if authenticated
      a.navbar-login#navbar-login-button(href='/user/logout')= _("Log Out")
    else
      a.navbar-login#navbar-login-button(href='/user/login')= _("Log In")