extends layout

block scripts
  script(src='//omlet.me/a/js/omlet.js')
  script(src='/javascripts/register.js')
  script(src='/javascripts/pbkdf2.js')
  script(src='/javascripts/omlet_register.js')

block page_name
  | Complete Registration

block content
  form(data-toggle='validator')#register-form
    input(type='hidden',name='_csrf',value=csrfToken)
    div.form-group
      label(for='username').control-label Username
      input(type='text',name='username',value='',required=true,maxlength=255).form-control#username
    div.form-group
      label(for='email').control-label E-Mail
      input(type='email',name='email',value='',required=true,maxlength=255).form-control#email
      span.help-block This e-mail will only be used by the system administrators to contact you in case of necessity, and will not be divulgated or displayed publicly.
    div.form-group
      label(for='password').control-label Password
      input(type='password',name='password',value='',required=true,maxlength=255,minlength=8,data-minlength=8).form-control#password
      span.help-block Minimum of 8 characters
    div.form-group#confirm-password-group
      label(for='confirm-password').control-label Confirm password
      input(type='password',name='confirm-password',value='',required=true,data-match='#password',data-match-error="The password and the confirmation must match").form-control#confirm-password
      span.help-block.with-errors
    div.form-group
      button(type='submit').btn.btn-primary Register

    p
      small By clicking Register above, you agree to the
        a(href='/about/toc') terms and conditions
        |  of the ThingEngine service.
