extends layout

block scripts
  script(src=Config.ASSET_CDN + '/javascripts/index.js')

block page_name
  - index = true;
  = _("Almond")

block content
  div#cloud-id-holder(data-cloud-id=user.cloud_id, data-auth-token=user.auth_token)

  div.jumbotron.text-center
    h1= _("Welcome to Almond, %s!").format(username)

    p
      if user.email_verified
        p= _("You are now ready to start using Almond for your own accounts.")

        p
          a(href='/me').btn.btn-primary= _("Go to My Almond")
          |
          |
          a(href='https://community.almond.stanford.edu').btn.btn-primary= _("Join the Community")
      else
        p
          = _("A verification email has been sent to your address. Some functionality on your account, such as developer access, will be limited until you verify your email. You must click on the verification link to enable your account in full.")

        p
          form(action='/user/resend-verification', method='post').force-inline
            input(type='hidden', name='_csrf', value=csrfToken)
            button(type='submit').btn.btn-primary= _("Resend verification email")
          |
          |
          a(href='/me').btn.btn-primary= _("Go to My Almond")
          |
          |
          a(href='https://community.almond.stanford.edu').btn.btn-primary= _("Join the Community")
