extends layout

block scripts
  script(src='/javascripts/register.js')

block page_name
  = _("Register")

block content
  if error
    div.alert.alert-danger.alert-dismissible.fade.in(role='alert')
      button(type='button', data-dismiss='alert', aria-label="Close").close
        span(aria-hidden='true') ×
      if typeof error === 'string'
        p= error
      else if error.message
        p= error.message
      else
        p= String(error)

  form(action='/user/register', method='post', data-toggle='validator')
    input(type='hidden',name='_csrf',value=csrfToken)
    input(type='hidden',name='timezone')#timezone
    div.form-group
      label(for='username').control-label= _("Username")
      input(type='text',name='username',value='',required=true,maxlength=255).form-control#username
    div.form-group
      label(for='email').control-label= _("E-Mail")
      input(type='email',name='email',value='',required=true,maxlength=255).form-control#email
      span.help-block= _("This e-mail will only be used by the system administrators to contact you in case of necessity, and will not be divulgated or displayed publicly.")
    div.form-group
      label(for='password').control-label= _("Password")
      input(type='password',name='password',value='',required=true,maxlength=255,minlength=8,data-minlength=8).form-control#password
      span.help-block= _("Minimum of 8 characters")
    div.form-group#confirm-password-group
      label(for='confirm-password').control-label= _("Confirm password")
      input(type='password',name='confirm-password',value='',required=true,data-match='#password',data-match-error=_("The password and the confirmation must match")).form-control#confirm-password
      span.help-block.with-errors
    div.form-group
      label(for='locale').control-label= _("Language")
      select(name='locale').form-control#locale
        option(value='en-US',selected=true)= _("English (United States)")
        option(value='en-GB')= _("English (United Kingdom)")
        option(value='it-IT')= _("Italian")
        option(value='zh-CN')= _("Chinese (simplified)")
        //option(value='es-ES')= _("Spanish")
    div.form-group
      button(type='submit').btn.btn-primary= _("Register")

    p
      small!= _("By clicking Register above, you agree to the <a href='/about/tos'>terms of service</a> of the Almond service.")
