extends layout

block page_name
  | #{name}

block content
  p#app-install-description= description

  div.row#show-hide-code
    div.col-sm-2
      a(aria-controls='code-block', data-toggle='collapse', data-target='#code-block').btn.btn-default.btn-sm.btn-block Show/hide code
  pre.collapse#code-block= code

  if arrays.length === 0 && tuples.length === 0 && singles.length === 0
    p This app has no visible result.
  for kw in arrays
    table.table.array-keyword
      caption= kw.name
      tbody
        each v in kw.value
          if v !== null
            tr
              if Array.isArray(v)
                each e in v
                  td= e
              else
                td= v

  for kw in tuples
    table.table.tuple-keyword
      caption= kw.name
      tbody
        tr
          each e in kw.value
            td= e

  dl
    for kw in singles
      dt= kw.name
      dt= kw.value
