extends layout

block scripts
  script(src='/javascripts/device.js')

block styles
  link(rel='stylesheet', href='/stylesheets/thingpedia-devices.css')

block page_name
  = _("Class: %s").format(schema.kind)

block content
  if schema.approved_version === null
    div.alert.alert-warning(role='alert')
      if user && user.developer_status >= 3
        if schema.kind_type === 'other'
          form(action='/thingpedia/classes/approve', method='post').form-inline
            input(type='hidden',name='_csrf',value=csrfToken)
            input(type='hidden',name='kind',value=schema.kind)
            p.form-group= _("This type is not yet approved.")
              | &#x20;
              button(type='submit').btn.btn-success= _("Approve it")
        else
          p= _("This type belongs to a device that was not yet approved.")
      else
        p= _("This type is not yet approved for general use. You need a developer key to use it.")
  else if schema.approved_version !== schema.developer_version && user && user.developer_status >= 3
    div.alert.alert-warning(role='alert')
      if user && user.developer_status >= 3
        form(action='/thingpedia/classes/approve/' + schema.id, method='post').form-inline
          input(type='hidden',name='_csrf',value=csrfToken)
          input(type='hidden',name='kind',value=schema.kind)
          p.form-group= _("A newer version of this schema was submitted.")
            if schema.kind_type === 'other'
              | &#x20;
              button(type='submit').btn.btn-success= _("Approve it")
            else
              = _(" Go to the corresponding device page to approve it.")

  if !schema.translated
    div.alert.alert-info(role='alert')
      p
        = _("The translation for this type in your language is incomplete. ")
        a(href='/thingpedia/translate/by-id/' + schema.kind).btn.btn-default= _("Contribute translation")

  if schema.kind_type === 'discovery'
    p
      = _("This type is a marker for discovery. ")
      = _("It is used by a device to indicate a certain low-level capability, and has no actions of its own. ")
      != _("Most likely, you will find this type toghether with another more generic type, eg. <i>bluetooth-uuid-0000110b-0000-1000-8000-00805f9b34fb</i>, indicating the A2DP Speaker capability, would be accompanied by <i>speaker</i>.")

  if user && user.developer_org !== null
    h2.device-subtitle#device-version
      if schema.approved_version === null
        = _("Version: none (approved), %d (developer)").format(schema.developer_version)
      else if schema.approved_version !== schema.developer_version
        = _("Version: %d (approved), %d (developer)").format(schema.approved_version, schema.developer_version)
      else
        = _("Version: %d").format(schema.approved_version)

  h2.device-subtitle= _("Class Definition")
  code.schema-code-block#schema-code
    = schema.code

  h2.device-subtitle= _("Dataset")
  code.schema-code-block#schema-dataset
    = schema.dataset

  div.row#device-details-actions
    if schema.kind_type === 'other' && authenticated && (user.developer_status >= 3 || schema.owner === user.developer_org)
      div.col-md-2
        a.btn.btn-warning.btn-block(href='/thingpedia/classes/update/' + schema.kind)= _("Edit")
      div.col-md-2
        form(action='/thingpedia/classes/delete', method='post').form-delete-device
          input(type='hidden',name='_csrf',value=csrfToken)
          input(type='hidden',name='kind',value=schema.kind)
          button(type='submit').btn.btn-danger.btn-block= _("Delete")
    if authenticated && user.locale !== 'en-US'
      div.col-md-2
        a.btn.btn-default.btn-block(href='/thingpedia/translate/by-id/' + schema.kind)= _("Translate")