extends layout

block styles
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/thingpedia-devices.css')

block page_name
  = _("String Datasets")

block content
  if authenticated && user.developer_status >= 1
    div.row
      div.col-xs-12.col-md-10.col-md-offset-1
        div.panel.panel-default
            p.panel-heading= _("Upload a new String Dataset")
            div.panel-body
              form(action='/thingpedia/strings/create', enctype='multipart/form-data', method='post', data-toggle='validator')
                input(type='hidden',name='_csrf',value=csrfToken)

                div.form-group
                  label(for='new-string-type-name').control-label= _("Dataset ID")
                  input(type='text',name='type_name').form-control#new-string-type-name
                  span.help-block
                    | The ID is used to refer to the dataset in a <code>\#[string_values=""]</code> annotation.
                    if user.developer_status < 3
                      |
                      | It must be of the form <var>prefix</var>:<var>suffix</var>, where <var>prefix</var> is the ID of a device you control, and <var>suffix</var> is an identifier.
                div.form-group
                  label(for='new-string-name').control-label= _("Description")
                  input(type='text',name='name').form-control#new-string-name
                  span.help-block= _("This description will be shown on the documentation")
                div.form-group
                  label(for='new-string-upload').control-label= _("List of values")
                  input(type='file',name='upload',accept='text/tab-separated-value')#new-string-upload
                  span.help-block
                    | Upload a TSV (tab separated) file with all the values for this entity, one per line.
                    |  The file should be formatted as <code><var>value</var>&lt;tab&gt;<var>weight</var></code>,
                    |  where <var>value</var> is the string value and <var>weight</var> is the unnormalized sampling probability for this value.
                    |  Including weights in the file is optional. If the weights are provided, the dataset
                    |  used for training will reflect the given distribution. If weights are omitted for any row, they
                    |  default to 1.0.
                div.form-group
                  div.checkbox
                    label(for='new-string-preprocessed').control-label
                      input(type='checkbox',name='preprocessed',value='1',checked=false)#new-string-preprocessed
                      = _(" The input file is already tokenized.")
                div.form-group
                  label(for='new-string-license').control-label= _("License")
                  select(name='license').form-control#new-string-license
                    option(value='public-domain',selected=true)= _("Public domain")
                    option(value='free-permissive')= _("Free (permissive)")
                    option(value='free-copyleft')= _("Free (GPL-compatible copyleft)")
                    option(value='non-commercial')= _("Non Commercial (incl. academic licenses)")
                    option(value='proprietary')= _("Proprietary")
                  span.help-block
                    | By submitting this dataset, you agree to license it with the above choice of license,
                    |  in accordance with the #[a(href='/about/tos') Terms of Service]. You must not upload datasets
                    |  for which you do not have the relevant licenses. Proprietary datasets will not be downloadable,
                    |  and will only be used to train the natural language model for Almond.
                div.form-group
                  label(for='new-string-attribution').control-label= _("Attribution")
                  textarea(name='attribution').form-control#new-string-attribution
                  span.help-block= _("Use this field to provide details of the copyright and attribution, including any citations of relevant papers.")

                div.form-group
                  button(type='submit').btn.btn-primary= _("Upload")

  table.table
    thead
      tr
        th= _("ID")
        th= _("Description")
        if authenticated
          th
    tbody
      for st in stringTypes
        - var split = st.type_name.split(':')
        tr
          td= st.type_name
          td= st.name
          if authenticated
            td
              if st.license === 'proprietary'
                a(href='#', title=_("This dataset is proprietary and cannot be downloaded")).btn.btn-sm.btn-default.disabled= _("Download")
              else
                - var id = st.type_name.replace(/[^a-zA-Z0-9]/g, '_');
                a(href='#' + id,data-toggle='modal').btn.btn-sm.btn-default= _("Download")
                div.modal.fade(id=id, role='dialog')
                  div.modal-dialog
                    div.modal-content
                      div.modal-header
                        a.close(data-dismiss='modal', aria-label=_("Close"))
                          span(aria-hidden='true') ×

                        h4.modal-title= _("Download Dataset")

                      div.modal-body
                        p= _("You are about to download the “%s” dataset.").format(st.name)

                        if st.license !== 'public-domain'
                          if st.license === 'non-commercial'
                            p= _("This dataset is available only for non-commercial research use. By downloading this dataset, you agree to be bound by license agreement, including any attribution clause.")
                          else
                            p= _("Please review the license of this dataset before downloading it.")
                          h5.license-header=_("License & Attribution")
                          p
                            pre= st.attribution
                        else if st.attribution
                          p= _("While this dataset is in the public domain, the author of this dataset has asked that you provide attribution if you use it:")
                          p
                            pre= st.attribution

                        a(href='/thingpedia/strings/download/'+st.type_name).btn.btn-primary.btn-block= _("Download")

                      
