extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/thingpedia-devices.css')

block page_name
  = _("Entity Types")

block content
  if authenticated && user.developer_status >= 1
    div.row
      div.col-xs-12.col-md-10.col-md-offset-1
        div.panel.panel-default
            p.panel-heading= _("Create a new Entity Type")
            div.panel-body
              form(action='/thingpedia/entities/create', enctype='multipart/form-data', method='post', data-toggle='validator')
                input(type='hidden',name='_csrf',value=csrfToken)

                div.form-group
                  label(for='new-entity-id').control-label= _("Entity ID")
                  input(type='text',name='entity_id').form-control#new-entity-id
                  span.help-block
                    | Entity ID, used to form type references in ThingTalk.
                    |
                    | Must be of the form <i>prefix</i>:<i>suffix</i>, where <i>prefix</i> is the ID of a device entry you control, and <i>suffix</i> is an identifier
                div.form-group
                  label(for='new-entity-name').control-label= _("Description")
                  input(type='text',name='entity_name').form-control#new-entity-name
                  span.help-block= _("This description will be shown on the documentation")
                div.form-group
                  div.checkbox
                    label(for='new-entity-no-ner-support').control-label
                      input(type='checkbox',name='no_ner_support',value='1',checked=true)#new-entity-no-ner-support
                      = _(" This entity is an opaque identifier that cannot be used from natural language.")
                div.form-group
                  label(for='new-entity-upload').control-label= _("List of values")
                  input(type='file',name='upload',accept='text/csv')#new-entity-upload
                  span.help-block
                    | Upload a CSV file with all the values for this entity, one per line.
                    |  The file should be formatted as <code><i>value</i>,<i>name</i></code>,
                    |  where <i>value</i> is the API identifier and <i>name</i> is the name that will be available in natural language.
                    |  If an entity can have multiple names (e.g. the stock ticker symbol "goog" can be recalled as Google or Alphabet),
                    |  use multiple lines with different names and same value.

                div.form-group
                  button(type='submit').btn.btn-primary= _("Create")

  table.table
    thead
      tr
        th= _("Prefix")
        th= _("ID")
        th= _("Description")
        th= _("Well known?")
        th= _("Has NER support?")
    tbody
      for e in entities
        - var split = e.id.split(':')
        tr
          td= split[0]
          td= split[1]
          td
            a(href='/thingpedia/entities/by-id/' + e.id)
              = e.name
          td
            if e.is_well_known
              span.glyphicon.glyphicon-ok(role='presentation')
              span.sr-only= _("yes")
            else
              span.sr-only= _("no")
          td
            if e.has_ner_support
              span.glyphicon.glyphicon-ok(role='presentation')
              span.sr-only= _("yes")
            else
              span.sr-only= _("no")
