extends layout

block styles
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/codemirror.css')
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/lint.css')
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/thingpedia-device-create.css')

block scripts
  script(src=Config.ASSET_CDN + '/javascripts/jsonlint.js')
  script(src=Config.ASSET_CDN + '/javascripts/thingpedia-device-create-bundle.js')

block page_name
  - stdlayout = false;
  - includefooter = false;
  if create
    = _("Create Device")
  else
    = _("Device Editor")

block content
  form(action=(create ? '/thingpedia/upload/create' : '/thingpedia/upload/update/' + device.primary_kind), enctype='multipart/form-data', method='post', data-toggle='validator')#thing-form
    input(type='hidden',name='_csrf',value=csrfToken)

    div.container-fluid#page-body
      div.row#device-toolbar
        div.col-lg-1.col-md-2
          button(type='submit').btn.btn-block.btn-sm.btn-primary
            span(aria-hidden='true').glyphicon.glyphicon-save-file
            = create ? _("Create") : _("Save")

        div.col-lg-2.col-md-2
          if (user.roles & (Constants.Role.THINGPEDIA_ADMIN | Constants.Role.TRUSTED_DEVELOPER)) !== 0
            div.checkbox
              label(for='device-approve').control-label
                input(type='checkbox',name='approve',value='1',checked=approve)#device-approve
                = ' ' + _("Approve immediately")

        div.col-lg-9.col-md-8#device-error
          if error
            p(role='alert').text-danger
              span(aria-hidden='true').glyphicon.glyphicon-warning-sign
              |
              |
              if typeof error === 'string'
                = error
              else if error.name === 'SyntaxError'
                = _("Syntax error at %s line %d: %s").format(error.fileName, error.lineNumber, error.message)
              else if error.message
                = error.message
              else
                = String(error)

      div.row
        nav.col-lg-3.col-md-4#device-editor-sidebar
          ul(role='tablist').nav.nav-pills.nav-stacked
            li.active
              a(href='#device-metadata', aria-controls='#device-metadata', role='tab', data-toggle='tab')
                //-span(aria-hidden='true').glyphicon.glyphicon-file
                = _("Metadata")
            li
              a(href='#device-code-tab', aria-controls='#device-code-tab', role='tab', data-toggle='tab')
                span(aria-hidden='true').glyphicon.glyphicon-file
                = _("manifest.tt")
            li
              a(href='#device-dataset-tab', aria-controls='#device-dataset-tab', role='tab', data-toggle='tab')
                span(aria-hidden='true').glyphicon.glyphicon-file
                = _("dataset.tt")

        div.col-lg-9.col-md-8.tab-content#device-editor-body
          div.tab-pane.fade.in.active#device-metadata
            div.form-group
              label(for='device-kind').control-label= _("ID")
              if create
                input(type='text',name='primary_kind',required=true,maxlength=128,value=device.primary_kind).form-control#device-kind
                span.help-block= _("The unique name of your device entry. This should be a namespaced name like “org.example” or “com.mything”.")
              else
                p.form-control-static= device.primary_kind

            div.form-group
              label(for='device-name').control-label= _("Name")
              input(type='text',name='name',required=true,maxlength=255,value=device.name).form-control#device-name
              span.help-block= _("This will be shown in the Thingpedia catalog.")

            div.form-group
              label(for='device-description-input').control-label= _("Description")
              textarea(name='description',required=true).form-control#device-description= device.description

            div.form-group
              label(for='device-subcategory').control-label= _("Category")
              select(name='subcategory',required=true).form-control#device-subcategory
                option(value='media', selected=(device.subcategory === 'media'))= _("Media")
                option(value='social-network', selected=(device.subcategory === 'social-network'))= _("Social Network")
                option(value='communication', selected=(device.subcategory === 'communication'))= _("Communication")
                option(value='home', selected=(device.subcategory === 'home'))= _("Home")
                option(value='health', selected=(device.subcategory === 'health'))= _("Health & Fitness")
                option(value='data-management', selected=(device.subcategory === 'data-management'))= _("Data Management")
                option(value='service', selected=(device.subcategory === 'service'))= _("Other")

            div.form-group
              label(for='device-license').control-label= _("License")
              input(name='license',type='text',required=true,value=device.license).form-control#device-license
              span.help-block!= _("The copyright license for the uploaded code, as a <a href='https://spdx.org/licenses/'>SPDX expression</a>")
            div.checkbox
              label
                input(type='checkbox',name='license_gplcompatible',value='1',checked=device.license_gplcompatible)
                != _("This license is <a href='https://www.gnu.org/licenses/gpl-faq.html#WhatDoesCompatMean'>GPL compatible</a>")

            div.form-group
              label(for='device-website').control-label= _("Website")
              input(name='website',type='text',required=false,value=device.website).form-control#device-website
              span.help-block!= _("A link to the website for service or device, describing it in more detail (optional).")

            div.form-group
              label(for='device-repository').control-label= _("Source Code Repository")
              input(name='repository',type='text',required=false,value=device.repository).form-control#device-repository
              span.help-block!= _("Public repository for the uploaded JavaScript code (optional).")

            div.form-group
              label(for='device-issue-tracker').control-label= _("Issue Tracker")
              input(name='issue_tracker',type='text',required=false,value=device.issue_tracker).form-control#device-issue-tracker
              span.help-block!= _("Link to a public issue tracker where users can report problems with this device.")

            div.form-group
              label(for='device-icon').control-label= _("Icon")
              input(type='file',name='icon',accept='image/png,image/gif,image/jpeg')#device-icon

            div.form-group
              label(for='device-zipfile').control-label= _("Upload ZIP file with JavaScript code")
              input(type='file',name='zipfile')#device-zipfile

          div.tab-pane.fade#device-code-tab
            label(for='device-code').control-label.sr-only= _("Manifest")
            textarea(name='code',required=true).enable-codemirror.form-control#device-code= device.code

          div.tab-pane.fade#device-dataset-tab
            label(for='device-dataset').control-label.sr-only= _("Default Dataset")
            textarea(name='dataset',required=true).enable-codemirror.form-control#device-dataset= device.dataset
