extends layout

block scripts
  script(src=Config.ASSET_CDN + '/javascripts/thingpedia-portal.js')

block styles
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/thingpedia-devices.css')

block page_name
  - stdlayout = false;
  = _("Thingpedia")

block content
  section.divider#section-heading
      h1#almond-title Thingpedia
      h2#almond-subtitle The Open API Repository

      p #[big= device_count] devices, #[big= function_count] functions supported, and growing!
  div.sections
    if !authenticated
      section.divider
        h3= _("What is Thingpedia?")

        div.container
          div.row
            div.col-xs-12.col-md-6.col-md-offset-3
              p
                | Thingpedia is an encyclopedia of applications for the
                |  Internet of Things. Just like how Wikipedia stores knowledge
                |  about the world, Thingpedia stores knowledge about devices
                |  in the world. Wikipedia is organized around articles;
                |  Thingpedia is organized around <i>devices</i>, such as Twitter, a light
                |  bulb, or a thermostat.

              p
                | Each device has a entry on Thingpedia. A Thingpedia entry
                |  stores the natural language interface that represent how
                |  humans refer to and interact with the device, and the
                |  executable specification corresponding to the device API.

    section.divider
      h3= _("Supported Devices")

      div.container
        div.row
          div.col-xs-12
            div.navbar.navbar-default#device-list-navbar
              form.navbar-form.navbar-left
                div.form-group
                  input.form-control#device-search-box(type='text', name='q', placeholder=_("I want to find a device..."))
                  button.btn.btn-primary#device-search-button= _("Search")
                div.form-group
                  button.btn.btn-primary#device-reset-button= _("Reset")

        div.row.aligned-grid#devices-container

        div.row
          div.col-xs-12
            nav
              ul.pager
                li#devices-page-prev
                  a(href='#')= _("Previous")
                | &nbsp;
                li#devices-page-next
                  a(href='#')= _("Next")

    section.divider
      h3= _("Contribute to Thingpedia")

      div.container
        div.row
          div.col-sm-6.col-md-4.col-sm-offset-3.col-md-offset-4
            if authenticated && user.developer_status >= 1
              a(href='/thingpedia/upload/create').btn.btn-primary.btn-block= _("Upload a new device")
            else
              a(href='/user/request-developer').btn.btn-primary.btn-block= _("Become a Thingpedia Developer")