extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/codemirror.css')
  link(rel='stylesheet', href='/stylesheets/lint.css')
  link(rel='stylesheet', href='/stylesheets/thingpedia-devices.css')

block scripts
  script(src='/javascripts/jsonlint.js')
  script(src='/javascripts/codemirror.js')
  script(src='/javascripts/jsoneditor.min.js')
  script(src='/javascripts/thingpedia-device-create.js')

block content
  if create
    h1= _("Submit a new thing class")
  else
    h1= _("Edit thing class")

  div.container
    if error
      div.row
        div.col-xs-12
          div.alert.alert-danger.alert-dismissible.fade.in(role='alert')
            button(type='button', data-dismiss='alert', aria-label="Close").close
              span(aria-hidden='true') ×
            if typeof error === 'string'
              p= error
            else if error.name === 'SyntaxError'
              p= _("Syntax error at %s line %d: %s").format(error.fileName, error.lineNumber, error.message)
            else if error.message
              p= error.message
            else
              p= String(error)

    div.row
      div.col-xs-12
        form(action=(create ? '/thingpedia/upload/create' : '/thingpedia/upload/update/' + id), enctype='multipart/form-data', method='post', data-toggle='validator')#thing-form
          input(type='hidden',name='_csrf',value=csrfToken)

          div.form-group
            label(for='device-kind').control-label= _("Thing ID")
            input(type='text',name='primary_kind',required=true,maxlength=128,value=device.primary_kind).form-control#device-kind
            span.help-block= _("The unique name of your device class. This should be a namespaced name like “org.example” or “com.mything”.")

          div.form-group
            label(for='device-name').control-label= _("Thing Name")
            input(type='text',name='name',required=true,maxlength=255,value=device.name).form-control#device-name
            span.help-block= _("This will be shown in the Thingpedia catalog.")

          div.form-group
            label(for='device-description-input').control-label= _("Thing Description")
            textarea(name='description',required=true).form-control#device-description #{device.description}

          div.form-group
            label(for='device-icon').control-label= _("Thing Icon")
            input(type='file',name='icon',accept='image/png,image/gif,image/jpeg')#device-icon

          div.form-group
            label(for='device-zipfile').control-label= _("Upload ZIP file with JS code")
            input(type='file',name='zipfile')#device-zipfile

          div.form-group.hidden
            label(for='device-code').control-label Thing Manifest
            textarea(name='code',required=true).form-control#device-code #{device.code}
            //span.help-block If your thing needs parameters for configurations (such as user names or
              |  passwords), you must declare them in the manifest. You can also use the manifest
              |  to declare actions and triggers for simple REST based services with a JSON API.
              |  In any case, you should use the manifest to document how your device is used, that
              |  is, what triggers and what actions are there!

          div#json-manifest-placeholder

          if user.developer_status >= 2
            div.checkbox
              label(for='device-approve').control-label
                input(type='checkbox',name='approve',value='1',checked=approve)#device-approve
                = _(" Approve this interface right away.")

          div.form-group
            button(type='submit').btn.btn-primary= _("Submit")

