section.divider
  if developer_org_name
    h3= _("Organization: %s").format(developer_org_name)
  else
    h3= _("Your developer organization")

  div.panel.panel-primary#developer-org-panel
    div.panel-heading
      h4.panel-title= _("Members")

    ul.list-group
      for m in developer_org_members
        li.list-group-item.clearfix
          div.pull-left= m.username
          div.pull-right
            if m.developer_status === Constants.DeveloperStatus.USER
              = _("Tester")
            else if m.developer_status === Constants.DeveloperStatus.DEVELOPER
              = _("Developer")
            else if m.developer_status === Constants.DeveloperStatus.TRUSTED_DEVELOPER
              = _("Trusted Dev")

  div.panel.panel-default
    div.panel-heading
      h4.panel-title= _("Devices")

    if developer_devices.length > 0
      ul#developer-device-list
        for dev in developer_devices
          li
            span.image
              img(src=CDN_HOST + '/icons/' + dev.primary_kind + '.png', alt="Icon for " + dev.name).device-icon-tiny
            a(href='/thingpedia/devices/by-id/' + dev.primary_kind)
              = dev.name
            span.action.hidden-xs
              a.btn.btn-sm.btn-warning(href='/thingpedia/upload/update/' + dev.primary_kind)= _("Update")
            form(action='/thingpedia/devices/delete/', method='post').form-inline.form-delete-device.hidden-xs
              input(type='hidden',name='_csrf',value=csrfToken)
              input(type='hidden',name='kind',value=dev.primary_kind)
              button(type='submit').btn.btn-sm.btn-danger= _("Delete")
    else
      div.panel-body
        p= _("Your organization does not own any device yet.")

    div.panel-footer
      div.row
        if authenticated && user.developer_status >= Constants.DeveloperStatus.DEVELOPER
          div.col-sm-6.col-md-4
            a(href='/thingpedia/upload/create').btn.btn-primary.btn-sm.btn-block= _("Upload a new device")
        else
          div.col-sm-6.col-md-4
            a(href='/user/request-developer').btn.btn-primary.btn-sm.btn-block= _("Become a Thingpedia Developer")
