extends layout

block styles
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/thingpedia-devices.css')

block page_name
  = _("Translate %s").format(english.kind)
  - var uniqueId = 0;

mixin do_one(id, obj)
  tr
    td
      label(for='control_' + (++uniqueId))= obj.english
    td
      input(name=id, id='control_' + uniqueId, type='text', value=obj.translated).form-control

mixin translate_channel(prefix, channelType, name, channel)
  tr
    th(colspan=2)
      = prefix
      code= name
  +do_one(channelType + '_canonical_' + name, channel.canonical)
  +do_one(channelType + '_confirmation_' + name, channel.confirmation)
  +do_one(channelType + '_confirmation_remote_' + name, channel.confirmation_remote)
  for arg in channel.args
    +do_one(channelType + '_argname_' + arg.id + '_' + name, arg.name)
    if arg.question.english
      +do_one(channelType + '_question_' + arg.id + '_' + name, arg.question)
  for ex in channel.examples
    +do_one(channelType + '_examples_' + name + '[]', ex)

block content
  if fromVersion > 0
    a(href='/thingpedia/translate/by-id/' + english.kind + '?fromVersion=' + (fromVersion-1)).btn.btn-default= _("Import from previous version")

  form(action='/thingpedia/translate/by-id/' + english.kind, method='post')
    input(type='hidden', name='language', value=language)
    input(type='hidden',name='_csrf',value=csrfToken)
    table.table
      thead
        tr
          th= _("English")
          th= _("Translated")
      tbody
        for trigger, name in triggers
          +translate_channel(_("Trigger: "), 'triggers', name, trigger)
        for action, name in actions
          +translate_channel(_("Action: "), 'actions', name, action)
        for query, name in queries
          +translate_channel(_("Query: "), 'queries', name, query)
    div.form-group
      button(type='submit').btn.btn-primary= _("Save")
