extends layout

block page_name
  = _("Dataset: %s/%s").format(language, type)

block styles
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/thingpedia-dataset.css')

block content
  nav
    ul.pager
      if page_num > 0
        li
          a(href='/thingpedia/datasets/' + language + '/' + type + '?page=' + (page_num-1))= _("Previous")
      | &nbsp;
      if dataset.length > RESULTS_PER_PAGE
        li
          a(href='/thingpedia/datasets/' + language + '/' + type + '?page=' + (page_num+1))= _("Next")

  ul
    for ex in dataset.slice(0, RESULTS_PER_PAGE)
      li
        p.utterance= _("%d: %s").format(ex.id, ex.utterance)
        p.preprocessed= ex.preprocessed
        p.target
          code= ex.target_code
        p
          form(action='/thingpedia/examples/delete/' + ex.id, method='post')
            input(type='hidden',name='_csrf',value=csrfToken)
            button(type='submit').btn.btn-small.btn-danger= _("Delete")
          
  nav
    ul.pager
      if page_num > 0
        li
          a(href='/thingpedia/datasets/' + language + '/' + type + '?page=' + (page_num-1))= _("Previous")
      | &nbsp;
      if dataset.length > RESULTS_PER_PAGE
        li
          a(href='/thingpedia/datasets/' + language + '/' + type + '?page=' + (page_num+1))= _("Next")
