extends layout

block page_name
  = _("Thingpedia Snapshots")

block content
  table.table
    thead
      tr
        th= _("ID")
        th= _("Description")
        th= _("Creation Date")
        th(colspan=2)= _("Actions")
    tbody
      for s in snapshots.slice(0, 20)
        tr
          td= s.snapshot_id
          td= s.description
          td= s.date.toLocaleString()
          td
            a.btn.btn-default.btn-small(href='/thingpedia/api/snapshot/' + s.snapshot_id)
              = _("Download types")
          td
            a.btn.btn-default.btn-small(href='/thingpedia/api/snapshot/' + s.snapshot_id + '?meta=1')
              = _("Download metadata")

  nav
    ul.pager
      if page_num > 0
        li
          a(href='/thingpedia/devices?page=' + (page_num-1))= _("Previous")
      if snapshots.length > 20
        li
          a(href='/thingpedia/devices?page=' + (page_num+1))= _("Next")

  div.panel.panel-default
    p.panel-heading= _("Create a new snapshot")
    div.panel-body
      form(action='/admin/snapshots/create', method='post', data-toggle='validator')
        input(type='hidden',name='_csrf',value=csrfToken)
        div.form-group
          label(for='new-description').control-label= _("Description")
          input(type='text',name='description').form-control#new-description

        div.form-group
          button(type='submit').btn.btn-primary= _("Create")
