extends layout

block scripts
  script(src='/javascripts/thingpedia-portal.js')
  script(src='https://code.jquery.com/jquery-1.11.1.min.js')
  script(src='https://code.jquery.com/ui/1.11.1/jquery-ui.min.js')

block styles
  link(rel='stylesheet', href='/stylesheets/thingpedia-devices.css')
  link(rel='stylesheet', href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')

block page_name
  - stdlayout = false;
  = _("Thingpedia")

block content
  section.divider#section-heading
      h1#almond-title Thingpedia
      h2#almond-subtitle The Open API Repository

      p #[big= device_count] devices, #[big= function_count] functions supported, and growing!
  div.sections
    if !authenticated
      section.divider
        h3= _("What is Thingpedia?")

        div.container
          div.row
            div.col-xs-12.col-md-6.col-md-offset-3
              p
                | Thingpedia is an encyclopedia of applications for the
                |  Internet of Things. Just like how Wikipedia stores knowledge
                |  about the world, Thingpedia stores knowledge about devices
                |  in the world. Wikipedia is organized around articles;
                |  Thingpedia is organized around <i>devices</i>, such as Twitter, a light
                |  bulb, or a thermostat.

              p
                | Each device has a entry on Thingpedia. A Thingpedia entry
                |  stores the natural language interface that represent how
                |  humans refer to and interact with the device, and the
                |  executable specification corresponding to the device API.

    section.divider
      h3= _("Popular Rules")

      div.container
        div.row#rules-container
          ul#rules

        div#rule-edit
          div.row#rule-edit-utterance
          div.row#rule-edit-code
          div.row
            button.btn.btn-primary upvote
            button.btn.btn-primary downvote
            button.btn.btn-primary adopt

        div#rule-new
          div.row
            form(action='/thingpedia/rules/new', method='post')
              div.form-group
                input(type='hidden', name='_csrf', value=csrfToken)
                label(for='rule-new-utterance') Rule
                input.form-control#rule-new-utterance
                label(for='rule-new-thingtalk') ThingTalk
                input.form-control#rule-new-thingtalk
                button(type='submit').btn.btn-primary#rule-new-submit= _("Submit")
              div#rule-new-result

        div.row
          div.col-sm-6.col-md-4.col-sm-offset-3.col-md-offset-4
            button.btn.btn-primary.btn-block#rule-new-button= _("Add Your Own")

    section.divider
      h3= _("Supported Devices")

      div.container
        div.row
          div.col-xs-12
            div.navbar.navbar-default#device-list-navbar
              form.navbar-form.navbar-left
                div.form-group
                  input.form-control#device-search-box(type='text', name='q', placeholder=_("I want to find a device..."))
                  button.btn.btn-primary#device-search-button= _("Search")
                div.form-group
                  button.btn.btn-primary#device-reset-button= _("Reset")

        div.row#devices-container

        div.row
          div.col-xs-12
            nav
              ul.pager
                li#devices-page-prev
                  a(href='#')= _("Previous")
                | &nbsp;
                li#devices-page-next
                  a(href='#')= _("Next")

    section.divider
      h3= _("Contribute to Thingpedia")

      div.container
        div.row
          if authenticated && user.developer_status >= 1
              if user.developer_status >= 3
                div.col-sm-6.col-md-4.col-md-offset-2
                  a(href='/thingpedia/upload/create').btn.btn-primary.btn-block= _("Upload a new device")
                div.col-sm-6.col-md-4
                  a(href='/thingpedia/schemas/create').btn.btn-default.btn-block= _("Create a new type")
              else
                div.col-sm-6.col-md-4.col-sm-offset-3.col-md-offset-4
                  a(href='/thingpedia/upload/create').btn.btn-primary.btn-block= _("Upload a new device")                
          else
            div.col-sm-6.col-md-4.col-sm-offset-3.col-md-offset-4
              a(href='/user/request-developer').btn.btn-primary.btn-block= _("Become a Thingpedia Developer")
