nav#doc-sidebar
  ul

    if authenticated && user.developer_org !== null
      li(class=(section === 'overview' ? 'current' : ''))
        a.doc-sidebar-subtitle(href='/thingpedia/developers')= _("Home")
    else
      li(class=(section === 'overview' ? 'current' : ''))
        a.doc-sidebar-subtitle(href='/thingpedia/developers')= _("Overview")
    if authenticated && user.developer_org !== null
      li(class = (section === 'status' ? 'current' : ''))
        a.doc-sidebar-subtitle(href='/thingpedia/developers/status')= _("Almond Status and Logs")
    if authenticated && user.developer_status >= Constants.DeveloperStatus.DEVELOPER
      li(class=(section === 'oauth' ? 'current' : ''))
        a.doc-sidebar-subtitle(href='/thingpedia/developers/oauth')= _("OAuth Applications")
    if authenticated
      li(class=(section === 'train-almond' ? 'current' : ''))
        a.doc-sidebar-subtitle(href='/thingpedia/developers/train')= _("Train Almond")
    li.thingpedia-docs
      a.doc-sidebar-subtitle(href='#thingpedia-doc-list',data-toggle='collapse')
        div.pull-left= _("Thingpedia Documentation")
        div.text-right#doc-search
          span(role='button')#doc-search-icon.glyphicon.glyphicon-search
      ul#thingpedia-doc-list(class=(!!currentPage ? 'collapse in' : 'collapse'))
        include ./thingpedia_doc_index.pug

div.modal.fade#doc-search-modal(role='dialog')
  div.modal-dialog
    div.modal-content
      div.modal-header.text-center
        h4.modal-title= _("Thingpedia Documentation Search")
      div.modal-body
        form(action='#', autocomplete='off')
          div.input-group#docsearch-container
            input(required=true, placeholder=_("Type to search..."), aria-label=_("Search documentation")).form-control#docsearch-input
            div.input-group-addon(aria-hidden='true')
              span.glyphicon.glyphicon-search
          div#docsearch-results.list-group
      div.modal-footer
