extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/thingpedia-devices.css')

block page_name
  = _("Entity Types")

block content
  if authenticated && user.developer_status >= 1
    div.row
      div.col-xs-12.col-md-10.col-md-offset-1
        div.panel.panel-default
            p.panel-heading= _("Create a new Entity Type")
            div.panel-body
              form(action='/thingpedia/entities/create', method='post', data-toggle='validator')
                input(type='hidden',name='_csrf',value=csrfToken)

                div.form-group
                  label(for='new-entity-id').control-label= _("Entity ID")
                  input(type='text',name='entity_id').form-control#new-entity-id
                  span.help-block
                    | Entity ID, used to form type references in ThingTalk.
                    |
                    | Must be of the form <i>prefix</i>:<i>suffix</i>, where <i>prefix</i> is the ID of a device entry you control, and <i>suffix</i> is an identifier
                div.form-group
                  label(for='new-entity-name').control-label= _("Description")
                  input(type='text',name='entity_name').form-control#new-entity-name
                  span.help-block= _("This description will be shown on the documentation")

                div.form-group
                  button(type='submit').btn.btn-primary= _("Create")

  table.table
    thead
      tr
        th= _("Prefix")
        th= _("ID")
        th= _("Description")
        th= _("Well known?")
        th= _("Has NER support?")
    tbody
      for e in entities
        - var split = e.id.split(':')
        tr
          td= split[0]
          td= split[1]
          td
            a(href='/thingpedia/entities/by-id/' + e.id)
              = e.name
          td
            if e.is_well_known
              span.glyphicon.glyphicon-ok(role='presentation')
              span.sr-only= _("yes")
            else
              span.sr-only= _("no")
          td
            if e.has_ner_support
              span.glyphicon.glyphicon-ok(role='presentation')
              span.sr-only= _("yes")
            else
              span.sr-only= _("no")
