extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/thingpedia-apps.css')

block page_name
  - index = true;
  | App Collection

block content
  h1= page_h1
    if page_subtitle
      br
      small= page_subtitle

  div.navbar.navbar-default#app-list-navbar
    form.navbar-form.navbar-left(action='/thingpedia/apps/search',method='get')
      div.form-group
        input.form-control#app-search-box(type='text', name='q', placeholder="I want to find a app...")
        button.btn.btn-primary(type="submit") Search

  if apps.length === 0
    p Sorry, there are no apps in this list!

  div.row
    each app, i in apps
      if i % 6 === 0
        div.clearfix.visible-lg.visible-md
      else if i % 3 === 0
        div.clearfix.visible-lg
      else if i % 2 === 0
        div.clearfix.visible-md
      div.col-lg-4.col-md-6.app-template
        div.panel.panel-default
          a.panel-heading(href='/thingpedia/apps/install/' + app.id)= app.name
          div.panel-body
            p #{app.description}
            p
              each tag in app.tags
                a(href='/thingpedia/apps/by-tag/' + tag.tag) ##{tag.tag}
                | &#x20;
            p
              a(href='/thingpedia/apps/' + app.id) Show code
          div.panel-footer
            p
              if authenticated && app.owner === user.id
                span By&#x20;
                  a(href='/apps') You
              else
                span By&#x20;
                  a(href='/thingpedia/apps/by-owner/' + app.owner)= app.owner_name
              //span.badge Like #{app.like}
            if !app.visible
              p This app is not public

  if page_num !== undefined
    nav
      ul.pager
        if page_num > 0
          li
            a(href='/thingpedia/apps?page=' + (page_num-1)) Previous
        if apps.length >= 20
          li
            a(href='/thingpedia/apps?page=' + (page_num+1)) Next