extends layout

block styles
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/codemirror.css')
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/lint.css')
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/thingpedia-devices.css')

block scripts
  script(src=Config.ASSET_CDN + '/javascripts/jsonlint.js')
  script(src=Config.ASSET_CDN + '/javascripts/thingpedia-device-translate-bundle.js')

block page_name
  = _("Translate %s").format(kind)
  - var uniqueId = 0;

mixin do_one(id, obj)
  tr
    td
      label(for='control_' + (++uniqueId))= obj.english
    td
      div.form-group
        input(name=id, id='control_' + uniqueId, type='text', value=obj.translated, required=true).form-control

mixin translate_function(prefix, name, func)
  tr
    th(colspan=2)
      = prefix
      code= name
  +do_one(`canonical[${name}]`, func.canonical)
  +do_one(`confirmation[${name}]`, func.confirmation)
  for arg in func.args
    +do_one(`argcanonical[${name}][${arg.name}]`, arg.argcanonical)
    if arg.question.english
      +do_one(`question[${name}][${arg.name}]`, arg.question)

block content
  if fromVersion > 0
    a(href=`/thingpedia/translate/by-id/${kind}?locale=${locale}&fromVersion=${fromVersion-1}`).btn.btn-default= _("Import from previous version")

  form(action='/thingpedia/translate/by-id/' + kind, method='post', data-toggle='validator')
    input(type='hidden', name='language', value=language)
    input(type='hidden',name='_csrf',value=csrfToken)

    h3=_("Class Metadata")
    table.table#device-metadata-translate
      thead
        tr
          th= _("English")
          th= _("Translated")
      tbody
        for query, name in queries
          +translate_function(_("Query: "), name, query)
        for action, name in actions
          +translate_function(_("Action: "), name, action)

    h3#dataset-heading= _("Dataset")
    textarea(name='dataset', required=true, aria-labelledby="dataset-heading").enable-codemirror.form-control#device-dataset= dataset

    div.form-group
      button(type='submit').btn.btn-primary= _("Save")
