extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/conversation.css')

block scripts
  if ENABLE_ANONYMOUS_USER
    script(src='/javascripts/conversation.js')

block page_name
  = _("Getting Almond")

block content
  div.row
    if ENABLE_ANONYMOUS_USER && !authenticated
      div.col-lg-12
        div.panel.panel-primary
          div.panel-heading
            h2.panel-title= _("Try Almond Now")

          div.panel-body
            p
              = _("Try Almond, directly from your browser. No account or installation required!")
            p
              != _('Curious of what Almond can do? Check out the <a href="/thingpedia/cheatsheet">list of supported commands</a>.')

            a(href='#section-try-now').btn.btn-primary.col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-4#try-almond-btn= _("Try Almond")

            div#conversation(data-target='/me/api/anonymous',aria-expanded='false').collapse
              div#chat
              div#input-block
                span(role='button').hidden#cancel
                  span(aria-hidden='true').glyphicon.glyphicon-remove-circle
                  span.sr-only= _("Cancel")
                form(action='#')#input-form
                  label(for='#chat-input').sr-only= _("Command:")
                  input(type='text',placeholder=_("Write your command or answer here")).form-control#input

  div.row
    div.col-md-6
      div.panel.panel-default
        div.panel-heading
          h2.panel-title= _("Web Almond")

        div.panel-body
          p
            = _("Web Almond gives you the full power of a personal virtual assistant, without leaving the browser.")
          p
            small!= _('Web Almond is provided free of charge to the research community. Use of Web Almond constitutes acceptance of the <a href="/about/tos">Terms of Service</a> and <a href="/about/privacy">Privacy Policy</a>.')

          if authenticated
            a(href='/me/conversation').btn.btn-primary.col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-4= _("Go To Web Almond")
          else
            a(href='/user/register').btn.btn-primary.col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-4= _("Create An Account")

    div.col-md-6
      div.panel.panel-default
        div.panel-heading
          h2.panel-title= _("Almond on your Laptop")

        div.panel-body
          p
            = _("Almond is also available as a native application for the GNOME desktop environment.")
            |
            |
            != _('Use <a href="/thingpedia/devices/by-id/org.thingpedia.builtin.thingengine.gnome">Almond 4 GNOME</a> to open apps and documents, take screenshots, change settings and lock your PC automatically.')

          a(href='https://flathub.org/apps/details/edu.stanford.Almond').btn.btn-primary.col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-4= _("Download Almond")

    div.col-md-6.col-md-offset-3
      div.panel.panel-default
        div.panel-heading
          h2.panel-title= _("Android Almond")

        div.panel-body
          p
            = _("Almond is also available as a native Android application.")
            |
            |
            = _("When you install Almond on your Android phone, all your data and credentials are stored only on your device.")
            |
            |
            = _("This ensures the maximum level of privacy, without sacrificing the convenience of having Almond always with you.")

          p
            a(href='https://play.google.com/store/apps/details?id=edu.stanford.thingengine.engine&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1')
              img(alt='Get it on Google Play',src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png',style='width:240px')

          p
            small= _("Google Play and the Google Play logo are trademarks of Google LLC.")

  div.row
    div.col-md-12
      div.panel.panel-default
        div.panel-heading
          h2.panel-title= _("Other Download Options")

        div.panel-body
          p
            = _("Still have not found what your looking for?")

            |
            |
            != _("Almond is also available as a <a href='https://github.com/Stanford-Mobisocial-IoT-Lab/thingengine-platform-server'>smart speaker with display</a> (hardware not included), and <a href='https://github.com/Stanford-Mobisocial-IoT-Lab/thingengine-platform-cmdline'>command line application</a>.")
            |
            |
            != _("And if that is not enough, you can find Almond\'s source code in our <a href='https://github.com/Stanford-Mobisocial-IoT-Lab'>Github page</a>.")
