extends layout

block scripts
  script(src='/javascripts/qrcode.js')
  script(src='/javascripts/profile.js')

block page_name
  = _("User Profile")

block content
  div.panel.panel-default
    div.panel-heading
      h2.panel-title= _("Personal information")

    div.panel-body
      if profile_error
        div.alert.alert-danger.alert-dismissible.fade.in(role='alert')
          button(type='button', data-dismiss='alert', aria-label="Close").close
            span(aria-hidden='true') ×
          if typeof profile_error === 'string'
            p= profile_error
          else if profile_error.message
              p= profile_error.message
          else
            p= String(profile_error)

      form(action='/user/profile',method='post',data-toggle='validator')
        input(type='hidden',name='_csrf',value=csrfToken)

        div.form-group
          label.control-label(for='username')= _("Username")
          input(type='text',name='username',value=user.username).form-control#username

        div.form-group
          label.control-label= _("E-Mail")
          p.form-control-static= user.email

        div.form-group
          label.control-label(for='human-name')= _("Real name")
          input(type='text',name='human_name',value=user.human_name).form-control#human-name
          span.help-block= _("This will be shown next to the apps you decide to publish. Leave empty to show your username instead.")

        div.form-group
          label.control-label= _("ThingPedia Developer Access")
          if user.developer_status >= 3
            p.form-control-static= _("Administrator")
            span.help-block= _("You know what to do.")
          else if user.developer_status >= 2
            p.form-control-static= _("Trusted Developer")
            span.help-block= _("All code you submit will go live to all ThingEngines with no review. Be careful!")
          else if user.developer_status >= 1
            p.form-control-static= _("Developer")
            span.help-block= _("You can submit new thing interfaces, but they have to be reviewed by an administrator before users can see them.")
          else
            p.form-control-static!= _("User (<a href='/user/request-developer'>apply to be a developer</a>)")

        div.form-group
          label.control-label(for='developer-key')= _("ThingPedia Developer Key")
          p.form-control-static= user.developer_key
          span.help-block
            = _("You can use this developer key in other ThingEngines (such as one you're running locally for testing) to access your devices before they are approved.")

        div.form-group
          button(type='submit').btn.btn-primary= _("Update profile")

  div.panel.panel-default
    div.panel-heading
      h2.panel-title= _("Access information")

    div.panel-body
      if pw_error
        div.alert.alert-danger.alert-dismissible.fade.in(role='alert')
          button(type='button', data-dismiss='alert', aria-label="Close").close
            span(aria-hidden='true') ×
          if typeof pw_error === 'string'
            p= pw_error
          else if pw_error.message
              p= pw_error.message
          else
            p= String(pw_error)

      form(action='/user/change-password',method='post',data-toggle='validator')
        input(type='hidden',name='_csrf',value=csrfToken)

        if !user.password
          p.alert.alert-warning= _("You did not configure a password. You should provide one, in case you lose access to the account you logged in with.")
          div.form-group
            label(for='password').control-label= _("Password")
            input(type='password',name='password',value='',maxlength=255,minlength=8,data-minlength=8).form-control#password
            span.help-block= _("Minimum of 8 characters")
          div.form-group#confirm-password-group
            label(for='confirm-password').control-label= _("Confirm password")
            input(type='password',name='confirm-password',value='',data-match='#password',data-match-error=_("The password and the confirmation must match")).form-control#confirm-password
            span.help-block.with-errors
        else
          div.form-group
            label(for='old-password').control-label= _("Old Password")
            input(type='password',name='old_password',value='',required=true,maxlength=255,minlength=8,data-minlength=8).form-control#old-password
          div.form-group
            label(for='password').control-label= _("Password")
            input(type='password',name='password',value='',required=true,maxlength=255,minlength=8,data-minlength=8).form-control#password
            span.help-block= _("Minimum of 8 characters")
          div.form-group#confirm-password-group
            label(for='confirm-password').control-label= _("Confirm password")
            input(type='password',name='confirm-password',value='',required=true,data-match='#password',data-match-error=_("The password and the confirmation must match")).form-control#confirm-password
            span.help-block.with-errors

        div.form-group
          button(type='submit').btn.btn-primary= _("Change password")

      if !user.google_id || !user.facebook_id
        p
          if !user.google_id
            a.btn.btn-default(href='/devices/oauth2/com.google')= _("Configure login with Google")
          if !user.google_id && !user.facebook_id
            |  
          if !user.facebook_id
            a.btn.btn-default(href='/devices/oauth2/com.facebook')= _("Configure login with Facebook")

      p
        a.btn.btn-danger(data-toggle='modal', data-target='#delete-account-dialog')= _("Delete account")

        div.modal.fade#delete-account-dialog(role='dialog')
          div.modal-dialog
            div.modal-content
              div.modal-header
                a.close(data-dismiss='modal', aria-label="Close")
                  span(aria-hidden='true') ×

                h4.modal-title= _("Are you sure you want to delete your account?")

              div.modal-body
                p= _("Deleting the account is an irreversible operation. All the data stored on the server will be lost permanently.")

                if server.isConfigured || phone.isConfigured
                  p= _("You will need to relink your server or phone if you make a new account, but you will not lose the data stored in them.")

                form(action='/user/delete', method='post')
                  input(type='hidden',name='_csrf',value=csrfToken)

                  div.form-group
                    button(type='submit').btn.btn-danger= _("Yes, I want to delete my account")
                    |  
                    a.btn.btn-default(data-dismiss='modal')= _("No, I changed my mind")

  //div.panel.panel-default
    div.panel-heading
      h2.panel-title= _("Server")

    div.panel-body
      if server.isConfigured
        p= _("You linked a ThingEngine Server at %s, port %d.").format(server.name, server.port)
        p
          form.form-inline(action='/user/unpair/server',method="post")
            input(type='hidden',name='_csrf',value=csrfToken)
            button(type='submit').btn.btn-danger= _("Unpair")
      else
        p= _("You did not link a ThingEngine Server. If you want to link one, you should open its configuration page and enter your credentials in the Cloud section.")

  div.panel.panel-default
    div.panel-heading
      h2.panel-title= _("Phone")

    div.panel-body
      if phone.isConfigured
        p= _("You are running a ThingEngine in your phone.")
      else
        p= _("You did not link the ThingEngine in your phone to your account.")
        div#config-phone-desktop-browser
          p!= _("If you are not running ThingEngine already, first <a href='https://rink.hockeyapp.net/apps/d6e09574c0f9434e8e20e8d8f2234285'>download the app</a>.")
            = _(" Then visit this page on a mobile browser, or scan this QR code.")

            div#qrcode-target= phone.qrcodeTarget
            div#qrcode-placeholder

        p#config-phone-mobile-browser(aria-hidden='true')
          a(href=phone.qrcodeTarget).btn.btn-primary= _("Configure")

