extends ../layout

block styles
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/thingpedia.css')
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/get-involved.css')
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/glide.core.min.css')
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/glide.theme.min.css')

block scripts
  script(src='https://cdn.jsdelivr.net/npm/@glidejs/glide')
  script(src=Config.ASSET_CDN + '/javascripts/get-involved.js')

block page_name
  - stdlayout = false;
  = _("Get Involved")

block content
  div#page-body
    div.sections
      section.divider
        h3#jumbotron-page-header= _("Genie, made by you.")
        div.container
          div.row#jumbotron-page-subhead
            div.col-xs-12.col-md-8.col-md-offset-2
              p.text-center.
                As an #[em open-source] virtual assistant, Genie depends on the work and resources of our community to develop new features, support more devices, and build cool new applications.
        div.container-fluid
          div.row
            div.col-xs-12
              div#jumbotron-carousel.glide
                div.glide__track(data-glide-el='track')
                  ul.glide__slides
                    li.glide__slide
                      div.carousel-card#ha-card
                        a(href="https://www.home-assistant.io/", target="_blank", rel="noopener")
                          div.carousel-card-gradient
                            h3.
                              Home Assistant
                            p.carousel-card-subtitle.
                              Home Assistant, a widely used open-source home automation platform built on Python that allows users to monitor and control their smart devices, 
                              uses Genie as a language interface to allow its users to control devices using their speech.
                    li.glide__slide
                      div.carousel-card#a-music-card
                        a(href="https://www.youtube.com/watch?v=M4HG-QDGmBI&feature=emb_title", target="_blank", rel="noopener")
                          div.carousel-card-gradient
                            h3.
                              Genie Music
                            p.carousel-card-subtitle.
                              Music enthusiasts, Gabby and Hemanth built Genie Music together as a quarter-long class project 
                              with the goal of creating the best music virtual assistant that can control their Spotify music through any device. 
                              What they built went beyond Alexa or Google Home, allowing for actions like the ability to change playlists.
                    li.glide__slide
                      div.carousel-card#mu-card
                        a(href="https://www.youtube.com/watch?v=LFOB_AUmreE&feature=emb_title", target="_blank", rel="noopener")
                          div.carousel-card-gradient
                            h3.
                              Multi-user Genie
                            p.carousel-card-subtitle.
                              Sharing a smart speaker among multiple people in the household is useful but at the same time raises privacy and parental control issues. 
                              This project showed that Genie can be used to identify users with their voice and provide fine-grained access control based on the detected identity. 
                    li.glide__slide
                      div.carousel-card#mmi-card
                        a(href="https://www.youtube.com/watch?v=-8XIzZufA7M", target="_blank", rel="noopener")
                          div.carousel-card-gradient
                            h3.
                              Multi-modal Interface
                            p.carousel-card-subtitle.
                              Jackie Yang built a multi-modal interface that allows you to use Genie to make complex queries while interacting with someone over chat.
                    li.glide__slide
                      div.carousel-card#sports-card
                        a(href="https://www.youtube.com/watch?v=DJqLgOdEEcw&feature=youtu.be", target="_blank", rel="noopener")
                          div.carousel-card-gradient
                            h3.
                              Sports Wikidata
                            p.carousel-card-subtitle.
                              High school student Ryan Cheng connected Genie to an API with NFL data, allowing the assistant to return information about team rankings, scores, and more.

        div.container
          div.row#jumbotron-prompt
            div.col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
              h4
                a(href="https://wiki.almond.stanford.edu/user-guide/almond-cloud")=_("Getting Started »")
              p=_("Start learning how to use Genie in your project by consulting our documentation.")

      section.divider#section-contributing-to-almond
        h3= _("Contributing to Genie")
        div.container
          div.row
            div.col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
              p.text-center=_("We welcome anyone who is passionate about Genie to contribute to the project. All skillsets are welcome.")

          div.row.inset
            div.col-md-6
              h4.text-center= _("I like to code.")
              p.
                Developers can make contributions to the #[a(href='https://github.com/stanford-oval/almond-cloud') codebase]. 
                Start by looking at the #[a(href='https://github.com/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+user%3Astanford-oval+archived%3Afalse') Issues] section to get some ideas. 
                If you have an idea of your own, please #[a(href='https://github.com/stanford-oval/almond-cloud/blob/master/CONTRIBUTING.md') submit] a pull request.
              p.
                If you own a device, or know of a service that you want to control through Genie,
                you can add it to Thingpedia, and have Genie immediately learn about it. 
                Check out our #[a(href='https://wiki.almond.stanford.edu/thingpedia') developer documentation] and apply to our #[a(href='/user/request-developer') developer program] to get started.
              br.visible-xs

            div.col-md-6
              h4.text-center= _("I'm not into coding.")
              p.
                The project currently needs technical writers and marketers to grow the Genie community. 
                We also welcome product, UI/UX, and language interface designers as well as translators to make Genie
                more accessible to people around the world.
              p.
                We also welcome material contributions like natural language processing and user behavior datasets.

          div.row
            div.col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
              h4.text-center
                a(href="https://docs.google.com/forms/d/e/1FAIpQLScQhrcmclAHDqWIIVNypgITthvgJBDbEqyGQYYfdfgwV6vImQ/viewform")=_("Stay Updated »")
              p.text-center=_("We're growing fast. Coder or not, keep up with the latest developments by signing up for our newsletter.")

      section.divider#section-keep-in-touch
        h3= _("Keep in Touch")

        div.container
          div.row
            div.col-lg-4.col-md-6
              a(href='https://twitter.com/StanfordOVAL').media
                div.media-left.media-middle
                  img(src=Config.ASSET_CDN + '/images/logo-twitter.png').media-object
                div.media-body.media-middle
                  h4.media-heading= _("Twitter")

            div.col-lg-4.col-md-6
              a(href='https://community.almond.stanford.edu').media
                div.media-left.media-middle
                  img(src=Config.ASSET_CDN + '/images/logo-forum.png').media-object
                div.media-body.media-middle
                  h4.media-heading= _("Community Forum")

            div.col-lg-4.col-md-6
              a(href='/blog/feed.rss').media
                div.media-left.media-middle
                  img(src=Config.ASSET_CDN + '/images/logo-rss.png').media-object
                div.media-body.media-middle
                  h4.media-heading= _("RSS Feed")

            div.col-lg-4.col-md-6
              a(href='https://discord.gg/anthtR4').media
                div.media-left.media-middle
                  img(src=Config.ASSET_CDN + '/images/logo-discord.png').media-object
                div.media-body.media-middle
                  h4.media-heading= _("Discord Chat")

            div.col-lg-4.col-md-6
              a(href='https://github.com/stanford-oval').media
                div.media-left.media-middle
                  img(src=Config.ASSET_CDN + '/images/logo-github.png').media-object
                div.media-body.media-middle
                  h4.media-heading= _("GitHub")

            div.col-lg-4.col-md-6
              a(href='mailto:thingpedia-admins@lists.stanford.edu').media
                div.media-left.media-middle
                  img(src=Config.ASSET_CDN + '/images/logo-email.png').media-object
                div.media-body.media-middle
                  h4.media-heading= _("Email Us")
