extends ../layout
block styles
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/index.css')
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/app.css')

block scripts
  script(src=Config.ASSET_CDN + '/javascripts/commandpedia-bundle.js')
  script(src=Config.ASSET_CDN + '/javascripts/index.js')

block page_name
  - stdlayout = false;
  = _("Almond")

block content
  if authenticated
    div#cloud-id-holder(data-cloud-id=user.cloud_id, data-auth-token=user.auth_token)

  div#page-body
    section.divider#section-heading
      div.container-fluid#almond-index-container
        div.row
          div.col-lg-6
            h1#almond-title= _("Almond")
            h2#almond-subtitle= _("The Stanford Open Virtual Assistant Project")

            div.row
              div.col-xs-12.col-md-4.col-md-offset-2
                h4= _("Smart")
                p= _("Connect your IoT devices, services, and accounts with flexibility")
              div.col-xs-12.col-md-4
                h4= _("Privacy-preserving")
                p= _("Almond is open-source and can be run on your phone or PC")

            div.row#subscribe
              div.col-xs-6.col-lg-3.col-md-4.col-lg-offset-3.col-md-offset-2
                a(href='/about/get-almond').btn.btn-primary.btn-block= _("Get Almond")
              div.col-xs-6.col-lg-3.col-md-4
                a(href='/about/research').btn.btn-primary.btn-block= _("Learn More")

            div.row#subscribe-row
              div.col-xs-12.col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3
                button.btn.btn-primary#subscribe-start= _("Would you like to contribute? Sign up to stay tuned!")
                form(action='#', method='post', data-toggle='validator')#subscribe-form
                  div.form-group
                    div.input-group
                      input(type='email', required=true, data-error=_("Please enter a valid email address."), placeholder=_("Your Email")).form-control#subscribe-email
                      span.input-group-btn
                        button(type='submit').btn.btn-primary#subscribe-submit= _("Subscribe")
                    span.help-block.with-errors
                p#subscribe-done(hidden=true)= _("Subscribed. Thank you!")

          div.col-lg-6
            div.carousel.slide(data-ride='carousel')#almond-index-carousel
              //-ol.carousel-indicators
                li(data-target='#almond-index-carousel',data-slide-to='0').active
                li(data-target='#almond-index-carousel',data-slide-to='1')
                li(data-target='#almond-index-carousel',data-slide-to='2')
                li(data-target='#almond-index-carousel',data-slide-to='3')
                li(data-target='#almond-index-carousel',data-slide-to='4')
                li(data-target='#almond-index-carousel',data-slide-to='5')
              div.carousel-inner(role='listbox')
                div.item.active
                  h3= _("On Your Phone")
                  img(src=Config.ASSET_CDN + '/images/carousel-nyt.png',
                      alt=_("Screenshot of Almond for Android. The user asks: “Show me the New York Times”. Almond replies with news articles."))
                  div.carousel-caption
                    h4= _("Notifications That Matter To You")
                    p= _("Say: “Show me the New York Times”")
                div.item
                  h3= _("On The Web")
                  img(src=Config.ASSET_CDN + '/images/carousel-teardrop.png',
                      alt=_("Screenshot of Web Almond. The user asks: “plot \"x^4 = 0.5^2 (x^2 - y^2)\"”. Almond produces a plot, shaped like a teardrop."))
                  div.carousel-caption
                    h4= _("Graphical and Voice is the Best Combination")
                    p= _("Say: “plot an equation”")
                div.item
                  h3= _("On Your Laptop")
                  img(src=Config.ASSET_CDN + '/images/carousel-nasa.png',
                      alt=_("Screenshot of Almond for PC. The list of enabled rules is shown, which includes: “Set your laptop's background to the NASA Astronomy Picture of the Day”. In the background, a NASA picture is shown."))
                  div.carousel-caption
                    h4= _("Enhance Your Life With All The Internet's Resources")
                    p= _("Say: “Change my laptop background to the NASA Picture of the Day”")
                div.item
                  h3= _("On Alexa")
                  img(src=Config.ASSET_CDN + '/images/carousel-alexa.png', alt="Picture of Amazon Echo device")#alexa
                  div.carousel-caption
                    h4= _("Automate Your Tasks, Across All Your Services")
                    p= _("Say: “Tweet the post when my Facebook updates”")
                    p
                      em= _("Coming soon!")
                //-div.item
                  h3= _("In Your Living Room")
                  img(src=Config.ASSET_CDN + '/images/carousel-livingroom.png', alt="Picture of Almond Home device")
                  div.carousel-caption
                    h4= _("The Best Way To Control Your Home")
                    p= _("Say: “Turn off my TV if there is nobody in the room”")
                    p
                      em= _("Coming soon!")

              a.left.carousel-control(href='#almond-index-carousel',role='button',data-slide='prev')
                span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                span.sr-only= _("Previous")
              a.right.carousel-control(href='#almond-index-carousel',role='button',data-slide='next')
                span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                span.sr-only= _("Next")


    div.sections
      section.divider#latest-news
        h3= _("What's new in Almond")
        div.container
          div.row
            for post in news
              div.col-md-4
                h4= post.title
                p= post.blurb
                p
                  a(href='/blog/' + post.id + '-' + post.slug)= _("Read more")

      section.divider#supported-devices
        h3= _("Your Accounts, Your Data, Your Life")
        div.container
          div.row
            div.col-lg-6
              p
                != _("Almond enables you to use voice and text to control your physical devices, your social network accounts, and many more services: <strong>if it is on the Internet, Almond will let you talk about it</strong>.")
                |
                |
                = _("And talking is not just about questions and actions: Almond allows you to be alerted by the events you care about, connect multiple services toghether, share data from one service with your friends, and more.")
              p!= _("Or at least, that is the <em>vision</em>. What Almond understands in practice is defined in Thingpedia, a repository we curate of online services and Internet of Things.")
                |
                |
                a(href='/thingpedia')= _("Learn more about Thingpedia")
                |  and
                |
                a(href='/thingpedia/developers')= _("how you can help Almond learn new services and skills")
                | .

            div.col-lg-6
              div.row
                for d in featuredDevices
                  div.col-xs-6.col-sm-4
                    a(href='/thingpedia/devices/by-id/' + d.primary_kind)
                      img(src=CDN_HOST + '/icons/' + d.primary_kind + '.png',alt=_("Icon for %s").format(d.name)).img-responsive

          //-div.slideshow-container
            - var page = 0;
            - var page_size = 10;
            while page < devices.length / page_size
              div.icon-slide
                - for (var i = 0; i < page_size; i++)
                  if page * page_size + i > devices.length - 1
                    - break;
                  a(href='/thingpedia/devices/by-id/' + devices[page * page_size + i].primary_kind)
                    img(src=CDN_HOST + '/icons/' + devices[page * page_size + i].primary_kind + '.png', alt='Icon for ' + devices[page * page_size + i].name)
              - page ++
            br
            a(href='/thingpedia/cheatsheet').hover-text= _('And many more!')

      section.divider#section-commandpedia
        h3= _("What can Almond do?")
        div.container
          div.row
            div.col-xs-12.col-md-6.col-md-offset-3
              p= _("Here is a sample of what Almond can do, and a few commands that our users and developers think are interesting. It is not an exhaustive list! Commands can combined in arbitrary ways, creating endless possibilities for your assistant.")
          include ../commandpedia.pug


      section.divider
        h3= _("Still Not Seeing What You Want?")
        div.container
          div.row
            div.col-sm-6.col-md-4.col-md-offset-4.col-sm-offset-3
              a(href='/thingpedia').btn.btn-primary.btn-block= _("Explore Thingpedia")