extends ../layout
block styles
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/index.css')
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/app.css')

block scripts
  script(src=Config.ASSET_CDN + '/javascripts/commandpedia-bundle.js')
  script(src=Config.ASSET_CDN + '/javascripts/index.js')
  script(src=Config.ASSET_CDN + '/javascripts/rotating-globe-bundle.js')

block page_name
  - stdlayout = false;
  = _("Almond")

block content
  if authenticated
    div#cloud-id-holder(data-cloud-id=user.cloud_id, data-auth-token=user.auth_token)

  div#page-body
    section.divider#section-heading
      div.container-fluid#almond-index-container
        div.row
          div.col-lg-6
            h1#almond-title= _("Almond")
            h2#almond-subtitle!= _("By <a href='https://oval.cs.stanford.edu'>Stanford Open Virtual Assistant Lab</a>")

            img(src=Config.ASSET_CDN + '/images/logo.png')#almond-logo

            p.text-center#almond-explanation-line
              = _("Almond translates your commands into a personalized program.")

            div.row
              div.col-xs-12.col-sm-6.col-md-4.col-md-offset-2
                h4= _("Smart")
              div.col-xs-12.col-sm-6.col-md-4
                h4= _("Privacy-preserving")
            div.row
              div.col-xs-12.col-sm-6.col-md-4.col-md-offset-2
                h4= _("Extensible")
              div.col-xs-12.col-sm-6.col-md-4
                h4= _("Open To All")

            div.row#subscribe
              div.col-xs-6.col-md-4
                a(href='/about/get-almond').btn.btn-primary.btn-block= _("Get Almond")
              div.col-xs-6.col-md-4
                a(href='/about/use-almond').btn.btn-primary.btn-block= _("Build with Almond")
              div.col-xs-6.col-md-4
                a(href='/about/get-involved').btn.btn-primary.btn-block= _("Contribute to Almond")


          div.col-lg-6
            div.carousel.slide(data-ride='carousel')#almond-index-carousel
              //-ol.carousel-indicators
                li(data-target='#almond-index-carousel',data-slide-to='0').active
                li(data-target='#almond-index-carousel',data-slide-to='1')
                li(data-target='#almond-index-carousel',data-slide-to='2')
                li(data-target='#almond-index-carousel',data-slide-to='3')
                li(data-target='#almond-index-carousel',data-slide-to='4')
                li(data-target='#almond-index-carousel',data-slide-to='5')
              div.carousel-inner(role='listbox')
                div.item.active
                  h3= _("On Your Phone")
                  img(src=Config.ASSET_CDN + '/images/carousel-nyt.png',
                      alt=_("Screenshot of Almond for Android. The user asks: “Show me the New York Times”. Almond replies with news articles."))
                  div.carousel-caption
                    h4= _("Notifications That Matter To You")
                    p= _("Say: “Monitor the New York Times”")
                div.item
                  h3= _("On The Web")
                  img(src=Config.ASSET_CDN + '/images/carousel-teardrop.png',
                      alt=_("Screenshot of Web Almond. The user asks: “plot x^4 = 0.5^2 (x^2 - y^2)”. Almond produces a plot, shaped like a teardrop."))
                  div.carousel-caption
                    h4= _("Graphical and Voice is the Best Combination")
                    p= _("Say: “plot an equation”")
                div.item
                  h3= _("On Your Laptop")
                  img(src=Config.ASSET_CDN + '/images/carousel-nasa.png',
                      alt=_("Screenshot of Almond for PC. The list of enabled rules is shown, which includes: “Set your laptop's background to the NASA Astronomy Picture of the Day”. In the background, a NASA picture is shown."))
                  div.carousel-caption
                    h4= _("Enhance Your Life With All The Internet's Resources")
                    p= _("Say: “Change my laptop background to the NASA Picture of the Day”")
                div.item
                  h3= _("On Alexa")
                  img(src=Config.ASSET_CDN + '/images/carousel-alexa.png', alt="Picture of Amazon Echo device")#alexa
                  div.carousel-caption
                    h4= _("Automate Your Tasks, Across All Your Services")
                    p= _("Say: “Tweet the post when my Facebook updates”")
                    p
                      em= _("Coming soon!")
                //-div.item
                  h3= _("In Your Living Room")
                  img(src=Config.ASSET_CDN + '/images/carousel-livingroom.png', alt="Picture of Almond Home device")
                  div.carousel-caption
                    h4= _("The Best Way To Control Your Home")
                    p= _("Say: “Turn off my TV if there is nobody in the room”")
                    p
                      em= _("Coming soon!")

              a.left.carousel-control(href='#almond-index-carousel',role='button',data-slide='prev')
                span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                span.sr-only= _("Previous")
              a.right.carousel-control(href='#almond-index-carousel',role='button',data-slide='next')
                span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                span.sr-only= _("Next")

    div.sections#home-page-sections
      section.divider
        //- for accessibility and for mobile devices (where hover is not available)
        div.container#almond-manifesto
          h3= _("Our Goal: an Open, Interoperable, Linguistic Web")

          //-img(src=Config.ASSET_CDN + '/images/icon-network-connection.svg')
          canvas(width=400, height=400)#rotatingGlobe

          p
            = _("Virtual assistants are the new interface to the Web.")
            br
            = _("We want them to have:")

          div.row
            div.col-md-6
              h4= _("Open Competition")
              p=_("Any company should be able to participate and innovate, without privileging existing monopolies.")

            div.col-md-6
              h4= _("Programmability")
              p=_("Users should be able to define their own tasks, without learning complex programming languages.")

          div.row
            div.col-md-6
              h4= _("Privacy")
              p=_("Users should control who has access to their data, for what purpose, and with whom their data is shared.")

            div.col-md-6
              h4= _("Extensibility")
              p= _("New services, new devices should be easy to add, and by anyone. This supports technological innovation.")

          p#almond-manifesto-learn-more
            a(href='https://oval.cs.stanford.edu')= _("Learn More")
            |
            |
            | -
            |
            |
            a(href='https://www.youtube.com/watch?v=R-BHyvli6c0')= _("Watch prof. Lam's keynote at Mobicom 2018")
            |
            | (
            a(href='https://almond-static.stanford.edu/papers/slides-keynote-mobicom18.pdf') Slides
            | )

      section.divider#why-almond
        h3= _("What We Do")

        div.container
          div.row
            div.col-xs-12
              h4= _("Programmable Notifications")
          div.row#filters-row
            div.col-md-6

              p
                != _("Notifications are <em>hard</em>! Every website, every social network, every app is continuously competing for our attention. But that's no more: with Almond, <em>you</em> decide what <em>you</em> care about.")
              p
                != _("Commands in Almond can be <i>monitored</i> and <i>filtered</i>: you can specify to be notified whenever the result changes, when a certain condition is true, or only for a certain subset of the data. For example:")
              ul
                li= _("You can monitor the New York Times, and be notified when they publish a new article; or you can monitor just the articles with the word “Millennial”, so you know which industry is being killed now.")
                li= _("You can monitor the weather, or you choose to be notified only when the temperature is below 40 degrees, and it's time to bring in your dog.")
                li= _("You can monitor your work email, and then decide that, you know what, it's after hours, you don't want to be bothered.")
              p
                != _("Almond's conditions can make use of any result returned by a command, like the title of an article or the body of the new email. You can also use a command, and check if that satisfies a condition. Just specify your conditions in English, and let Almond notify you.")

            div.col-md-6
              img(src=Config.ASSET_CDN + '/images/example-bitcoin.png',alt=_("Example of a notification. The user says “Alert me when the price of Bitcoin is below $3,600”. Almond confirms, and then notifies, as the price of Bitcoin is now $3,500.")).img-responsive

          div.row
            div.col-xs-12
              h4= _("Flexible Compound Commands")
          div.row#compound-commands-row
            div.col-md-6.col-md-push-6

              p
                != _("Almond is the first virtual assistant that allows you to specify commands that combine two or more services at once. You can specify <em class=when>when</em> to execute the command, what data to <em class=get>get</em>, and what to <em class=do>do</em>, and each part can be any of the primitives supported by Almond.")
              p
                != _("You can use compound commands for:")
              ul.example-command-list
                li!= _("Automation: <q><span class=when>when I leave home</span>, <span class=do>turn off the heating</span></q>.")
                li!= _("Synchronization: <q><span class=when>when I post to Twitter</span>, <span class=do>copy the post to Facebook</span></q>.")
                li!= _("Composition: <q><span class=get>get the Bitcoin price</span> and then <span class=do>send it to my colleague on Slack</span></q>.")
                li= _("And many more!")
              p= _("If you have used IFTTT, you'll love Almond.")

            div.col-md-6.col-md-pull-6.visible-md.visible-lg(aria-hidden='true')
              .example
                != _("<span class=when>when the New York Times has an article about China</span>,<br><span class=get>translate the headline to Chinese</span>,<br>then<span class=do>email it to my friend</span>")

          div.row
            div.col-xs-12
              h4= _("A Growing, Crowdsourced, Library of Services")

          div.row#why-almond-thingpedia-row
            div.col-md-6
              p
                != _("Almond provides a uniform interface to your physical devices, your social network accounts, and many more services. Almond wants to let you access anything on the Internet, from your assistant.")
              p
                != _("Almond capabilities are defined in <em>Thingpedia</em>, a crowdsourced repository of commands and interfaces to online services and Internet of Things. Anyone can contribute new entries to Thingpedia, and with small amounts of training data, Almond will be immediately able to interact with the new device or service. ")
              p
                != _("<a href='/thingpedia'>Learn more about Thingpedia</a> and <a href='/about/get-involved'>how you can help Almond learn new services and skills</a>.")

            div.col-md-6
              div.row
                for d in featuredDevices
                  div.col-xs-6.col-sm-4
                    a(href='/thingpedia/devices/by-id/' + d.primary_kind)
                      img(src=CDN_HOST + '/icons/' + d.primary_kind + '.png',alt=_("Icon for %s").format(d.name)).img-responsive

          div.row
            div.col-xs-12
              h4= _("Cutting-Edge Deep Learning Technology")

          div.row
            div.col-md-6.col-md-push-6
              p
                = _("Almond uses a state-of-the-art natural language understanding model. Almond's deep learning model allows it to understand more complex commands across more domains than any other assistant on the market: just train Almond with pairs of sentences and programs, and Almond will learn.")
              p
                != _("We are continuously improving Almond, and building tools to allow others to extend Almond. We have developed a tool called <a href='/thingpedia/developers/genie-intro.md'>Genie</a> that allows to generate training data in new domains from scratch. Using Genie, we have found that Almond understands user's input with 68% accuracy - a marked improvement over the previous best known result. Furthermore, with little effort we were able to build a specialized skill for <a href='https://almond.stanford.edu/thingpedia/devices/by-id/com.spotify'>Spotify</a>, add natural language to access control, and extend Almond with aggregates (sum, count, average, etc.).")
              p
                != _("As academics, our research is open-source, and all technology is freely available to the public. Anyone can leverage our algorithm in their product or in their own research. <a href='/about/research'>Learn more about our research</a> and <a href='/about/get-involved'>how you can use Almond's technology</a>.")

            div.col-md-6.col-md-pull-6.visible-md.visible-lg(aria-hidden='true')#seq-seq-animation
              include ../../art/seq-seq-animation-clean-svg.svg

      include ../blog_home_page.pug

      section.divider#section-commandpedia
        h3= _("What can Almond do?")
        div.container
          div.row
            div.col-xs-12.col-md-6.col-md-offset-3
              p= _("Here is a sample of what Almond can do, and a few commands that our users and developers think are interesting. It is not an exhaustive list! Commands can combined in arbitrary ways, creating endless possibilities for your assistant.")
          include ../commandpedia.pug
