extends ../layout
block styles
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/index.css')
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/app.css')
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/spinner.css')
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/conversation.css')

block scripts
  script(src=Config.ASSET_CDN + '/javascripts/commandpedia-bundle.js')
  script(src=Config.ASSET_CDN + '/javascripts/index.js')
  if ENABLE_ANONYMOUS_USER && !authenticated
    script(src=Config.ASSET_CDN + '/javascripts/conversation.js')

block page_name
  - stdlayout = false;
  = _("Almond")

block content
  if authenticated
    div#cloud-id-holder(data-cloud-id=user.cloud_id, data-auth-token=user.auth_token)

  div#page-body
    section.divider#section-heading
      div.container-fluid#almond-index-container
        div.row
          div.col-lg-6
            //-img(src=Config.ASSET_CDN + '/images/logo.png')#almond-logo

            h1#almond-title
              img(src=Config.ASSET_CDN + '/images/logo.png',style='display:inline-block;padding-right:12px;height:1em;vertical-align:bottom')
              = _("Almond")
            //-h2#almond-subtitle!= _("By <a href='https://oval.cs.stanford.edu'>Stanford Open Virtual Assistant Lab</a>")
            h2#almond-subtitle= _("The Open, Privacy-Preserving Virtual Assistant")

            p.text-center#almond-explanation-line
              = _("Almond translates your commands into a personalized program.")

            //-div.row
              div.col-xs-12.col-sm-6.col-md-4.col-md-offset-2
                h4= _("Smart")
              div.col-xs-12.col-sm-6.col-md-4
                h4= _("Privacy-preserving")
            //-div.row
              div.col-xs-12.col-sm-6.col-md-4.col-md-offset-2
                h4= _("Extensible")
              div.col-xs-12.col-sm-6.col-md-4
                h4= _("Open To All")

            //-div.row#subscribe
              div.col-lg-8.col-lg-offset-2
                a(href='https://forms.gle/Q1m5uZDF8ZyRbdSw7',rel='noopener').btn.btn-primary.btn-block.call-to-action= _("I'm Interested")

            if authenticated
              div.row
                div.col-lg-8.col-lg-offset-2
                  a(href='/me').btn.btn-primary.btn-block.call-to-action= _("Go To My Almond")
            else if !ENABLE_ANONYMOUS_USER
              div.row
                div.col-lg-8.col-lg-offset-2
                  a(href='/user/register').btn.btn-primary.btn-block.call-to-action= _("Try Almond Now")
            else
              div.row#try-almond-now-row
                div.col-lg-8.col-lg-offset-2
                  a#try-almond-now(href='#conversation').btn.btn-primary.btn-block.call-to-action= _("Try Almond Now")

              div.row
                div.col-lg-12
                  div#conversation(data-target='/me/ws/anonymous',aria-expanded='false')
                    div#chat
                    div#input-block
                      span(role='button').hidden#cancel
                        span(aria-hidden='true').glyphicon.glyphicon-remove-circle
                        span.sr-only= _("Cancel")
                      form(action='#')#input-form
                        div.form-group.has-feedback#input-form-group
                          label(for='#chat-input').sr-only= _("Command:")
                          input(type='text',placeholder=_("Write your command or answer here")).form-control#input
                          span.spinner-container.form-control-feedback.hidden
                            span.spinner
                            span.sr-only= _("Almond is thinking…")
                          span.glyphicon.glyphicon-warning-sign.form-control-feedback.hidden(title=_("Lost connection to the server."))
                          span.help-block.hidden= _("Lost connection to the server.")

            div(style='margin-top:1em;font-size:24px').text-center
              div.row
                div.col-xs-12.col-sm-6.col-md-4.col-md-offset-2
                  a(href='/about/get-almond')= _("Get Almond")
                div.col-xs-12.col-sm-6.col-md-4
                  a(href='/about/get-involved')= _("Contribute To Almond")
              div.row
                div.col-xs-12.col-sm-6.col-md-4.col-md-offset-2
                  a(href='https://forms.gle/Q1m5uZDF8ZyRbdSw7', rel='noopener')= _("Sign Up for Updates")
                div.col-xs-12.col-sm-6.col-md-4
                  a(href='https://community.almond.stanford.edu')= _("Join Our Community")

            p(style='margin-top:1em;font-size:24px').text-center!= _("Brought to you by the <a href='https://oval.cs.stanford.edu'>Stanford Open Virtual Assistant Lab</a>.")


          div.col-lg-6
            div.carousel.slide(data-ride='carousel')#almond-index-carousel
              //-ol.carousel-indicators
                li(data-target='#almond-index-carousel',data-slide-to='0').active
                li(data-target='#almond-index-carousel',data-slide-to='1')
                li(data-target='#almond-index-carousel',data-slide-to='2')
                li(data-target='#almond-index-carousel',data-slide-to='3')
                li(data-target='#almond-index-carousel',data-slide-to='4')
                li(data-target='#almond-index-carousel',data-slide-to='5')
              div.carousel-inner(role='listbox')
                div.item.active
                  h3= _("Notifications That Matter To You")
                  img(src=Config.ASSET_CDN + '/images/carousel-nyt.png',
                      alt=_("Screenshot of Almond for Android. The user asks: “Show me the New York Times”. Almond replies with news articles."))
                  div.carousel-caption
                    h4= _("Say: “Monitor the New York Times”")
                div.item
                  h3= _("Graphical and Voice is the Best Combination")
                  img(src=Config.ASSET_CDN + '/images/carousel-nest.png',
                      alt=_("Screenshot of Web Almond. The user asks, in sequence, “Turn on my security camera”, “Get a snapshot” and “Send an email to my neighbor if my camera detects motion when I am not home”."))
                  div.carousel-caption
                    h4= _("Say: “Show me a security camera snapshot”")
                div.item
                  h3= _("Enhance Your Life With All The Internet's Resources")
                  img(src=Config.ASSET_CDN + '/images/carousel-nasa.png',
                      alt=_("Screenshot of Almond for PC. The list of enabled rules is shown, which includes: “Set your laptop's background to the NASA Astronomy Picture of the Day”. In the background, a NASA picture is shown."))
                  div.carousel-caption
                    h4= _("Say: “Change my laptop background to the NASA Picture of the Day”")
                div.item
                  h3= _("Automate Your Tasks, Across All Your Services")
                  img(src=Config.ASSET_CDN + '/images/carousel-alexa.png', alt="Picture of Amazon Echo device")#alexa
                  div.carousel-caption
                    h4= _("Say: “Tweet the post when my Facebook updates”")
                    p
                      em= _("Coming soon!")
                //-div.item
                  h3= _("The Best Way To Control Your Home")
                  img(src=Config.ASSET_CDN + '/images/carousel-livingroom.png', alt="Picture of Almond Home device")
                  div.carousel-caption
                    h4= _("Say: “Turn off my TV if there is nobody in the room”")
                    p
                      em= _("Coming soon!")

              a.left.carousel-control(href='#almond-index-carousel',role='button',data-slide='prev')
                span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                span.sr-only= _("Previous")
              a.right.carousel-control(href='#almond-index-carousel',role='button',data-slide='next')
                span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                span.sr-only= _("Next")

    div.sections#home-page-sections
      section.divider
        h3= _("How Almond Works")

        div.container
          div.row
            div.col-lg-5.col-lg-offset-1.marketing-video
              iframe(style='max-width:100%;height: 270px;width: 100%;', src="https://www.youtube.com/embed/5JUtTe00yGc", frameborder="0", allow="autoplay;encrypted-media", allowfullscreen=true)

              p.text-center= _("See how Almond helps Kimmy babysit.")

            div.col-lg-5.marketing-video
              iframe(style='max-width:100%;height: 270px;width: 100%;', src="https://www.youtube.com/embed/IUtURMngJr8", frameborder="0", allow="autoplay;encrypted-media", allowfullscreen=true)

              p.text-center= _("Learn how you can use Almond for your tasks.")


      section.divider
        div.container#almond-manifesto
          h3= _("Our Goal: Open Virtual Assistants for the Open Web")

          //-canvas(width=400, height=400)#rotatingGlobe

          p
            = _("Virtual assistants are the new interface to the Web.")
            br
            = _("Our vision for virtual assistants includes:")

          div.row
            div.col-md-6
              h4 Democratize AI for linguistic user interfaces
              p We should have open, collaborative research to put open-source linguistic technology in the hands of all businesses.
              p Learn more about #[a(href='/doc/genie-intro.md') our technology] and #[a(href='/about/use-almond')  how you can use it in your product].

            div.col-md-6
              h4 An open non-proprietary linguistic web
              p All skills, or linguistic user interfaces, should be made available to any virtual assistant.
              p Learn more about our #[a(href='/thingpedia') open repository] and #[a(href='/about/get-involved') how you can contribute].

            div.col-md-6.col-md-offset-3
              h4 Sharing with individual data ownership
              p We as users should have a choice in virtual assistant services and the ability to control how we share our data.
              p Learn more about #[a(href='/about/get-almond') how you can run Almond with maximum privacy].

      section.divider#almond-in-the-news
        h3= _("Almond In The News")

        div.container
          div.row
            div.col-xs-12
              div.aligned-grid.aligned-grid-4
                a(href='https://www.nytimes.com/2019/06/14/technology/virtual-assistants-privacy.html').aligned-grid-item#news-link-newyorktimes
                  img(src=Config.ASSET_CDN + '/images/news-logo-nyt.png', alt=_("The New York Times"))
                  | Stanford Team Aims at Alexa and Siri With a Privacy-Minded Alternative
                a(href='https://www.popsci.com/story/technology/best-of-whats-new-2019/').aligned-grid-item
                  img(src=Config.ASSET_CDN + '/images/news-logo-best-of-whats-new.png', alt=_("Winner of Popular Science's Best of What's New Award 2019"))
                a(href='https://hackaday.com/2019/12/01/almond-open-personal-assistant-from-stanford/').aligned-grid-item#news-link-hackaday
                  img(src=Config.ASSET_CDN + '/images/news-logo-hackaday.png', alt='').img-responsive
                  | Hackaday
                a(href='https://techhq.com/2019/12/can-an-open-source-virtual-assistant-take-on-alexa/').aligned-grid-item#news-link-techhq
                  img(src=Config.ASSET_CDN + '/images/news-logo-techhq.svg', width=64, height=64, alt='TechHQ')

      include ../blog_home_page.pug

      section.divider#why-almond
        h3= _("What We Do")

        div.container
          div.row
            div.col-xs-12
              h4= _("Programmable Notifications")
          div.row#filters-row
            div.col-md-6

              p
                != _("Notifications are <em>hard</em>! Every website, every social network, every app is continuously competing for our attention. But that's no more: with Almond, <em>you</em> decide what <em>you</em> care about.")
              p
                != _("Commands in Almond can be <i>monitored</i> and <i>filtered</i>: you can specify to be notified whenever the result changes, when a certain condition is true, or only for a certain subset of the data. For example:")
              ul
                li= _("You can monitor the New York Times, and be notified when they publish a new article; or you can monitor just the articles with the word “Millennial”, so you know which industry is being killed now.")
                li= _("You can monitor the weather, or you choose to be notified only when the temperature is below 40 degrees, and it's time to bring in your dog.")
                li= _("You can monitor your work email, and then decide that, you know what, it's after hours, you don't want to be bothered.")
              p
                != _("Almond's conditions can make use of any result returned by a command, like the title of an article or the body of the new email. You can also use a command, and check if that satisfies a condition. Just specify your conditions in English, and let Almond notify you.")

            div.col-md-6
              img(src=Config.ASSET_CDN + '/images/example-bitcoin.png',alt=_("Example of a notification. The user says “Alert me when the price of Bitcoin is below $3,600”. Almond confirms, and then notifies, as the price of Bitcoin is now $3,500.")).img-responsive

          div.row
            div.col-xs-12
              h4= _("Flexible Compound Commands")
          div.row#compound-commands-row
            div.col-md-6.col-md-push-6

              p
                != _("Almond is the first virtual assistant that allows you to specify commands that combine two or more services at once. You can specify <em class=when>when</em> to execute the command, what data to <em class=get>get</em>, and what to <em class=do>do</em>, and each part can be any of the primitives supported by Almond.")
              p
                != _("You can use compound commands for:")
              ul.example-command-list
                li!= _("Automation: <q><span class=when>when I leave home</span>, <span class=do>turn off the heating</span></q>.")
                li!= _("Synchronization: <q><span class=when>when I post to Twitter</span>, <span class=do>copy the post to Facebook</span></q>.")
                li!= _("Composition: <q><span class=get>get the Bitcoin price</span> and then <span class=do>send it to my colleague on Slack</span></q>.")
                li= _("And many more!")
              p= _("If you have used IFTTT, you'll love Almond.")

            div.col-md-6.col-md-pull-6.visible-md.visible-lg(aria-hidden='true')
              .example
                != _("<span class=when>when the New York Times has an article about China</span>,<br><span class=get>translate the headline to Chinese</span>,<br>then <span class=do>email it to my friend</span>")

          div.row
            div.col-xs-12
              h4= _("A Growing, Crowdsourced, Library of Services")

          div.row#why-almond-thingpedia-row
            div.col-md-6
              p
                != _("Almond provides a uniform interface to your physical devices, your social network accounts, and many more services. Almond wants to let you access anything on the Internet, from your assistant.")
              p
                != _("Almond capabilities are defined in <em>Thingpedia</em>, a crowdsourced repository of commands and interfaces to online services and Internet of Things. Anyone can contribute new entries to Thingpedia, and with small amounts of training data, Almond will be immediately able to interact with the new device or service. ")
              p
                != _("<a href='/thingpedia'>Learn more about Thingpedia</a> and <a href='/about/get-involved'>how you can help Almond learn new services and skills</a>.")

            div.col-md-6
              div.row
                for d in featuredDevices
                  div.col-xs-6.col-sm-4
                    a(href='/thingpedia/devices/by-id/' + d.primary_kind)
                      img(src=CDN_HOST + '/icons/' + d.primary_kind + '.png',alt=_("Icon for %s").format(d.name)).img-responsive

          div.row
            div.col-xs-12
              h4= _("Cutting-Edge Deep Learning Technology")

          div.row
            div.col-md-6.col-md-push-6
              p
                = _("Almond uses a state-of-the-art natural language understanding model. Almond's deep learning model allows it to understand more complex commands across more domains than any other assistant on the market: just train Almond with pairs of sentences and programs, and Almond will learn.")
              p
                != _("We are continuously improving Almond, and building tools to allow others to extend Almond. We have developed a tool called <a href='/doc/genie-intro.md'>Genie</a> that allows to generate training data in new domains from scratch. Using Genie, we have found that Almond understands user's input with 68% accuracy - a marked improvement over the previous best known result. Furthermore, with little effort we were able to build a specialized skill for <a href='https://almond.stanford.edu/thingpedia/devices/by-id/com.spotify'>Spotify</a>, add natural language to access control, and extend Almond with aggregates (sum, count, average, etc.).")
              p
                != _("As academics, our research is open-source, and all technology is freely available to the public. Anyone can leverage our algorithm in their product or in their own research. <a href='https://oval.cs.stanford.edu'>Learn more about our research</a> and <a href='/about/use-almond'>how you can use Almond's technology</a>.")

            div.col-md-6.col-md-pull-6.visible-md.visible-lg(aria-hidden='true')#seq-seq-animation
              include ../../art/seq-seq-animation-clean-svg.svg

      section.divider#section-commandpedia
        h3= _("What can Almond do?")
        div.container
          div.row
            div.col-xs-12.col-md-6.col-md-offset-3
              p= _("Here is a sample of what Almond can do, and a few commands that our users and developers think are interesting. It is not an exhaustive list! Commands can combined in arbitrary ways, creating endless possibilities for your assistant.")
          include ../commandpedia.pug
