extends ../layout

block styles
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/thingpedia.css')

block page_name
  - stdlayout = false;
  = _("Contribute To Almond")

block content
  div#page-body
    div.sections
      section.divider
        h3= _("Contribute to Almond")
        div.container
          div.row#dev-program-intro
            div.col-xs-12.col-md-8.col-md-offset-2
              p= _("Almond is a community project, and we welcome anyone to use it, contribute to it, and help us make it the best virtual assistant.")
              p= _("You can contribute to Thingpedia, our crowdsourced, non-proprietary repository of digital interfaces and their linguistic representation. You can improve our website, client applications, dialog agents, or even our underlying technology. You can use, remix, and rebrand Almond in your own project.")
              p
                strong= _("We welcome everyone to contribute to Almond!")

      section.divider#section-what-can-i-do-for-almond
        h3= _("What can I do for Almond?")

        div.container
          div.row
            div.col-lg-offset-2.col-lg-offset-8
              blockquote
                p Ask not what Almond can do for you — ask what you can do for Almond.
                footer J. F. K., potentially.

          div.row
            div.col-md-6
              h4= _("Contribute To Thingpedia")
              p.
                Do you own a device, or know of a service that you want to control through Almond?
                You can add it to Thingpedia, and have Almond immediately learn about it!
              p.
                Check out our #[a(href='/thingpedia/developers/thingpedia-intro.md') developer documentation],
                and when you're ready, #[a(href='/user/request-developer') apply to our developer program].

            div.col-md-6
              h4= _("Develop Almond")
              p.
                Have you found a bug? Or a feature that you really want? Head to our
                #[a(href='https://github.com/stanford-oval') Github page] to find our
                code base. Fork it, patch it, grow it.
              p.
                Also, don't hesitate to get in touch through our
                #[a(href='https://community.almond.stanford.edu') support forum]
                for help with larger projects, access to internal documentation,
                and details of the Almond architecture.

            //-div.col-md-6
              h4= _("Donate to Almond")
              p.
                Almond is generously funded by the
                #[a(href='https://mobisocial.stanford.edu') Mobile and Social Computing Lab], an industrial affiliates
                program within Stanford University's #[a(href='https://engineering.stanford.edu/') School of Engineering].
              p.
                The #[a(href='https://mobisocial.stanford.edu/index.php?page=affiliates') affiliates program]
                provides an opportunity for industry and other organization to collaborate and interact
                with our research team, through a recurrent sponsorship agreement.
                Smaller donations can also be provided #[a(href='https://engineering.stanford.edu/get-involved/give') to the university].
                All contributions to Stanford are tax deductible in the United States.

      section.divider#section-get-in-touch
        h3= _("Get In Touch")

        div.container
          div.row
            div.col-lg-4.col-md-6
              a(href='https://twitter.com/AlmondStanford').media
                div.media-left.media-middle
                  img(src=Config.ASSET_CDN + '/images/logo-twitter.png').media-object
                div.media-body.media-middle
                  h4.media-heading= _("Twitter")

            div.col-lg-4.col-md-6
              a(href='https://community.almond.stanford.edu').media
                div.media-left.media-middle
                  img(src=Config.ASSET_CDN + '/images/logo-forum.png').media-object
                div.media-body.media-middle
                  h4.media-heading= _("Community Forum")

            div.col-lg-4.col-md-6
              a(href='/blog/feed.rss').media
                div.media-left.media-middle
                  img(src=Config.ASSET_CDN + '/images/logo-rss.png').media-object
                div.media-body.media-middle
                  h4.media-heading= _("RSS Feed")

            div.col-lg-4.col-md-6
              a(href='https://gitter.im/Stanford-Mobisocial-IoT-Lab/Lobby').media
                div.media-left.media-middle
                  img(src=Config.ASSET_CDN + '/images/logo-gitter.png').media-object
                div.media-body.media-middle
                  h4.media-heading= _("Gitter Chat")

            div.col-lg-4.col-md-6
              a(href='https://github.com/stanford-oval').media
                div.media-left.media-middle
                  img(src=Config.ASSET_CDN + '/images/logo-github.png').media-object
                div.media-body.media-middle
                  h4.media-heading= _("GitHub")

            div.col-lg-4.col-md-6
              a(href='mailto:thingpedia-admins@lists.stanford.edu').media
                div.media-left.media-middle
                  img(src=Config.ASSET_CDN + '/images/logo-email.png').media-object
                div.media-body.media-middle
                  h4.media-heading= _("Email Us")

            //-div.col-lg-6.col-md-6
              a(href='https://stanford-oval.slack.com').media
                div.media-left.media-middle
                  img(src=Config.ASSET_CDN + '/images/logo-slack.png').media-object
                div.media-body.media-middle
                  h4.media-heading= _("Slack (by invitation only)")
