extends ../layout
block styles
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/index.css')
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/app.css')

block scripts
  script(src='https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js')
  script(src=Config.ASSET_CDN + '/javascripts/app.js')
  script(src=Config.ASSET_CDN + '/javascripts/index.js')

block page_name
  - stdlayout = false;
  = _("Almond")

block content
  if authenticated
    div#cloud-id-holder(data-cloud-id=user.cloud_id, data-auth-token=user.auth_token)

  div#page-body
    section.divider#section-heading
      h1 Almond
      h2 The Stanford Open Virtual Assistant Project

      div.container
        div.row
          div.col-xs-12.col-md-3.col-md-offset-3
            h4 Smart
            p Connect your IoT devices, services, and accounts with flexibility
          div.col-xs-12.col-md-3
            h4 Privacy-preserving
            p Almond is open-source and can be run on your phone or server

        div.row#subscribe
          div.col-xs-6.col-lg-2.col-md-3.col-lg-offset-4.col-md-offset-3
            a(href='/about/get-almond').btn.btn-primary.btn-block= _("Get Almond")
          div.col-xs-6.col-lg-2.col-md-3
            a(href='/about/research').btn.btn-primary.btn-block= _("Learn More")

        div.row
          div.col-xs-12.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3
            button.btn.btn-primary(csrf=csrfToken).btn-block#subscribe-start= _("Would you like to contribute? Sign up to stay tuned!")
            form
              div.input-group
                input(type='email', placeholder='Your Email').form-control#subscribe-email
                span.input-group-btn
                  button.btn.btn-primary(csrf=csrfToken)#subscribe-submit= _("Subscribe")
              p#subscribe-hint(hidden=true)= _("Please enter a valid email address.")
              p#subscribe-done(hidden=true)= _("Subscribed. Thank you!")

    div.sections
      section.divider#supported-devices
        h3= _("Devices and Services Supported")
        div.container
          div.slideshow-container
            - var page = 0;
            - var page_size = 10;
            while page < devices.length / page_size
              div.icon-slide
                - for (var i = 0; i < page_size; i++)
                  if page * page_size + i > devices.length - 1
                    - break;
                  a(href='/thingpedia/devices/by-id/' + devices[page * page_size + i].primary_kind)
                    img(src=CDN_HOST + '/icons/' + devices[page * page_size + i].primary_kind + '.png', alt='Icon for ' + devices[page * page_size + i].name)
              - page ++
            br
            a(href='/thingpedia/cheatsheet').hover-text= _('And many more!')

      section.divider#section-commandpedia
        h3= _("Popular Commands")
        div.container#commandpedia(csrf=csrfToken)
          div.navbar.navbar-default#command-list-navbar
            form.navbar-form.navbar-left(action='', method='get')
              div.form-group
                input.form-control#command-search-box(type='text', name='q', placeholder="I want to find a command...")
                button.btn.btn-primary#command-search-button(type="submit")= _("Search")
              div.form-group
                button.btn.btn-primary#command-reset-button= _("Reset")
          div.row.aligned-grid#command-container
          br
          div.row
            div.col-sm-6.col-md-4.col-md-offset-4.col-sm-offset-3
              a(href='/thingpedia/commands/add').btn.btn-primary.btn-block= _("Add a New Command")

      section.divider
        h3= _("Still Not Seeing What You Want?")
        div.container
          div.row
            div.col-sm-6.col-md-4.col-md-offset-4.col-sm-offset-3
              a(href='/thingpedia').btn.btn-primary.btn-block= _("Explore Thingpedia")