extends ../layout

block styles
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/thingpedia.css')
  link(rel='stylesheet', href=Config.ASSET_CDN + '/stylesheets/get-involved.css')

block page_name
  - stdlayout = false;
  = _("Get Involved | Almond")

block content
  div#page-body
    div.sections
      section.divider
        h3#jumbotron-page-header= _("Almond, made by you.")
        div.container
          div.row#jumbotron-page-subhead
            div.col-xs-12.col-md-8.col-md-offset-2
              p.text-center= _("As an open-source virtual assistant, Almond depends on the work of our community to develop new features, support more devices, and build cool new applications.")
              p.text-center
               a(href='https://forms.gle/Q1m5uZDF8ZyRbdSw7',rel='noopener').btn.btn-primary= _("Sign up to be part of our community")
          div.row#jumbotron-carousel
          div.row#jumbotron-prompt
            div.col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
              hr
              h4
                a(href="https://almond.stanford.edu/doc/getting-started.md")=_("Getting Started »")
              p=_("Start learning how to use Almond in your project by consulting our documentation.")
              hr

      section.divider#section-contributing-to-almond
        h3= _("Contributing to Almond")
        div.container
          div.row
            div.col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
              p=_("Developers can make contributions to the codebase. Start by looking at the Issues section to get some ideas. If you have an idea of your own, feel free to submit a pull request.")
              p
                strong=_("Can't code? ")
                span=_("You can still help move Almond forward. Currently, the project needs people with the following skills:")

      section.divider#section-get-in-touch
        h3= _("Get In Touch")

        div.container
          div.row
            div.col-lg-4.col-md-6
              a(href='https://twitter.com/AlmondStanford').media
                div.media-left.media-middle
                  img(src=Config.ASSET_CDN + '/images/logo-twitter.png').media-object
                div.media-body.media-middle
                  h4.media-heading= _("Twitter")

            div.col-lg-4.col-md-6
              a(href='https://community.almond.stanford.edu').media
                div.media-left.media-middle
                  img(src=Config.ASSET_CDN + '/images/logo-forum.png').media-object
                div.media-body.media-middle
                  h4.media-heading= _("Community Forum")

            div.col-lg-4.col-md-6
              a(href='/blog/feed.rss').media
                div.media-left.media-middle
                  img(src=Config.ASSET_CDN + '/images/logo-rss.png').media-object
                div.media-body.media-middle
                  h4.media-heading= _("RSS Feed")

            div.col-lg-4.col-md-6
              a(href='https://discord.gg/anthtR4').media
                div.media-left.media-middle
                  img(src=Config.ASSET_CDN + '/images/logo-discord.png').media-object
                div.media-body.media-middle
                  h4.media-heading= _("Discord Chat")

            div.col-lg-4.col-md-6
              a(href='https://github.com/stanford-oval').media
                div.media-left.media-middle
                  img(src=Config.ASSET_CDN + '/images/logo-github.png').media-object
                div.media-body.media-middle
                  h4.media-heading= _("GitHub")

            div.col-lg-4.col-md-6
              a(href='mailto:thingpedia-admins@lists.stanford.edu').media
                div.media-left.media-middle
                  img(src=Config.ASSET_CDN + '/images/logo-email.png').media-object
                div.media-body.media-middle
                  h4.media-heading= _("Email Us")

      section.divider#section-what-can-i-do-for-almond
        h3= _("What can I do for Almond?")

        div.container
          div.row
            div.col-md-6
              h4= _("Contribute To Thingpedia")
              p.
                Do you own a device, or know of a service that you want to control through Almond?
                You can add it to Thingpedia, and have Almond immediately learn about it!
              p.
                Check out our #[a(href='/doc/thingpedia-intro.md') developer documentation],
                and when you're ready, #[a(href='/user/request-developer') apply to our developer program].

            div.col-md-6
              h4= _("Develop Almond")
              p.
                Have you found a bug? Or a feature that you really want? Head to our
                #[a(href='https://github.com/stanford-oval') Github page] to find our
                code base. Fork it, patch it, grow it.
              p.
                Also, don't hesitate to get in touch through our
                #[a(href='https://community.almond.stanford.edu') support forum]
                for help with larger projects, access to internal documentation,
                and details of the Almond architecture.
