div.container#stanford-footer
  div.row
    div.col-md-2
      img(src=Config.ASSET_CDN + '/images/stanford-signature.png',alt=_("Stanford University"))#stanford-signature
    div.col-md-10.link-grid
      div.row
        div.col-md-2
          a(href='https://www.stanford.edu/')= _("Stanford Home")
        div.col-md-2
          a(href='http://visit.stanford.edu/plan/')= _("Maps & Directions")
        div.col-md-2
          a(href='https://www.stanford.edu/search/')= _("Search Stanford")
        div.col-md-2
          a(href='https://emergency.stanford.edu/')= _("Emergency Info")
        div.col-md-2
          a(href='https://exploredegrees.stanford.edu/nonacademicregulations/nondiscrimination/')= _("Non-Discrimination")
      div.row
        //div.col-md-2
          a(href='/about/tos')= _("Terms of Service")
        div.col-md-2
          a(href='/about/privacy')= _("Privacy")
        div.col-md-2
          a(href='https://www.stanford.edu/site/accessibility')= _("Accessibility")
        div.col-md-2
          a(href='https://github.com/stanford-oval/almond-cloud/issues')= _("Report a bug")
        div.col-md-2
          a(href='https://twitter.com/StanfordOVAL').social-icon
            img(src=Config.ASSET_CDN + '/images/symbolic-logo-twitter.svg', title=_("Connect with us on Twitter"))
          span.social-icon-spacer(role='presentation')
          a(href='/blog/feed.rss',rel="alternate",type="application/rss+xml").social-icon
            img(src=Config.ASSET_CDN + '/images/symbolic-logo-rss.svg', title=_("Subscribe to our RSS Feed"))
          span.social-icon-spacer(role='presentation')
          a(href='https://github.com/stanford-oval').social-icon
            img(src=Config.ASSET_CDN + '/images/symbolic-logo-github.svg', title=_("Fork me on GitHub"))
          span.social-icon-spacer(role='presentation')
          a(href='mailto:thingpedia-admins@lists.stanford.edu').social-icon
            img(src=Config.ASSET_CDN + '/images/symbolic-logo-email.svg', title=_("Contact us via email"))
