div.container#stanford-footer
  div.row
    div.col-md-2
      img(src=Config.ASSET_CDN + '/images/stanford-signature.png',alt=_("Stanford University"))#stanford-signature
    div.col-md-10.link-grid
      div.row
        div.col-md-2
          a(href='https://www.stanford.edu/')= _("Stanford Home")
        div.col-md-2
          a(href='http://visit.stanford.edu/plan/')= _("Maps & Directions")
        div.col-md-2
          a(href='https://www.stanford.edu/search/')= _("Search Stanford")
        div.col-md-2
          a(href='https://emergency.stanford.edu/')= _("Emergency Info")
        div.col-md-2
          a(href='https://exploredegrees.stanford.edu/nonacademicregulations/nondiscrimination/')= _("Non-Discrimination")
      div.row
        div.col-md-2
          a(href='/about/tos')= _("Terms of Service")
        div.col-md-2
          a(href='/about/privacy')= _("Privacy")
        div.col-md-2
          a(href='https://www.stanford.edu/site/accessibility')= _("Accessibility")
        div.col-md-2
          a(href='https://github.com/Stanford-Mobisocial-IoT-Lab/almond-cloud/issues')= _("Report a bug")
        //-div.col-md-2
          a(href='https://github.com/Stanford-Mobisocial-IoT-Lab/almond-cloud').label.label-default= _("Fork me on Github!")